#campgrounddirectorybutton a  {
   background-image: url(sg_caboose-lake_media/campgrounddirectorybutton.gif);
}

#camperprogrambutton a  {
   background-image: url(sg_caboose-lake_media/camperprogrambutton.gif);
}

#facebookbutton a  {
   background-image: url(sg_caboose-lake_media/facebookbutton.gif);
}

#emailformembed  {
   margin-bottom: 167px;
}

#navbackground  {
   background-image: url(sg_caboose-lake_media/navbackground.png);
}

#campindiana  {
   background-image: url(sg_caboose-lake_media/campindiana.gif);
}

#sidecolumn  {
   min-height: 953px;
}

#greenwaves  {
   background-image: url(sg_caboose-lake_media/greenwaves.gif);
}

#menuheader  {
   background-image: url(sg_caboose-lake_media/menuheader.png);
}

html, body  {
   background-image: url(sg_caboose-lake_media/browserbackground.jpg);
}

