.southerntext p a,
.easterntext p a,
.i1230northernin p a,
.i1224centralin p a,
.i1228westernin p a,
.westernh3 p a,
.centraltext p a,
.centralh3 p a,
.i1226easternin p a,
.i1222southernin p a,
.easternh3 p a,
.northerntext p a,
.i1218locationstext p a,
.i1220locationsh1 p a,
.westerntext p a,
.southernh3 p a,
.i1219locationsh2 p a,
.northernh3 p a  {
   display: inline;
}

.westernh3 li,
.westernh3 p,
.i1220locationsh1 p,
.easternh3 p,
.southernh3 li,
.southernh3 p,
.i1219locationsh2 p,
.centralh3 li,
.i1220locationsh1 li,
.northernh3 p,
.easternh3 li,
.northernh3 li,
.i1219locationsh2 li,
.centralh3 p  {
   margin: 0px;
}

h3  {
   line-height: 22px;
   font-size: 18px;
}

h1  {
   line-height: 29px;
   font-size: 24px;
}

h2  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
}

