#campgrounddirectorybutton a  {
   background-image: url(sg_campground-locations_media/campgrounddirectorybutton.gif);
}

#camperprogrambutton a  {
   background-image: url(sg_campground-locations_media/camperprogrambutton.gif);
}

#facebookbutton a  {
   background-image: url(sg_campground-locations_media/facebookbutton.gif);
}

#navbackground  {
   background-image: url(sg_campground-locations_media/navbackground.png);
}

#campindiana  {
   background-image: url(sg_campground-locations_media/campindiana.gif);
}

#greenwaves  {
   background-image: url(sg_campground-locations_media/greenwaves.gif);
}

#menuheader  {
   background-image: url(sg_campground-locations_media/menuheader.png);
}

#easternh3  {
   margin-top: 0px;
   margin-left: 0px;
   width: 644px;
   z-index: 8;
   top: -5px;
   left: 6px;
   position: absolute;
}

html, body  {
   background-image: url(sg_campground-locations_media/browserbackground.jpg);
}

