.i1423directionsh3 p a,
.info p a,
.overviewtext p a,
.directions p a,
.i1419attractionsh3 p a,
.parktitleh1 p a,
.datesopenh3 p a,
.i1417amenitiesh3 p a,
.amenitiestext p a,
.i1426mapembed p a,
.attractionsright p a,
.attractionsleft p a  {
   display: inline;
}

.i1423directionsh3 p,
.parktitleh1 li,
.i1423directionsh3 li,
.parktitleh1 p  {
   margin: 0px;
}

h1  {
   font-family: Helvetica, Arial, sans-serif;
}

h2  {
   letter-spacing: 0px;
}

