#i1430escapeesclubcontentunique  {
	margin-top: 0px;
	margin-left: 0px;
	width: 52px;
	z-index: 9;
	top: 6px;
	left: 252px;
	position: absolute;
}

#i1428preferredcamperparticipan  {
   background-repeat: no-repeat;
   background-image: url(sg_directory_media/d1428preferredcamperpartici.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 90px;
   width: 91px;
   z-index: 8;
   top: 0px;
   left: 3px;
   position: absolute;
}

#i1429passportamericacontentuni  {
   margin-top: 0px;
   margin-left: 0px;
   width: 71px;
   z-index: 8;
   top: 1px;
   left: 154px;
   position: absolute;
}

#goodsamlogocontentuniquec  {
	margin-top: 0px;
	margin-left: 0px;
	width: 194px;
	z-index: 8;
	top: 5px;
	left: 150px;
	position: absolute;
}

#directorysidecolumn  {
   min-height: 1225px;
   width: 315px;
   top: 0px;
   left: 0px;
   position: relative;
   margin-left: 2px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}

#club6contentunique  {
   margin-top: 0px;
   margin-left: 0px;
   width: 52px;
   z-index: 8;
   top: 3px;
   left: 283px;
   position: absolute;
}

#middlepicturebox  {
   z-index: 7;
   top: 211px;
   left: 4px;
}

#pictureboxpanel  {
   margin-bottom: 0px;
   margin-top: 23px;
   margin-left: 3px;
   width: 307px;
   min-height: 416px;
}

#lastpicturebox  {
   z-index: 7;
   top: 7px;
   left: 4px;
}

#emailformembed  {
   margin-bottom: 0px;
}

#logopicturebox  {
   margin-top: -3px;
   margin-left: 20px;
}

#i1427logopanel  {
   margin-bottom: 0px;
   margin-top: 7px;
   margin-right: 0px;
   margin-left: 13px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 341px;
   min-height: 97px;
}

#i1426mapembed  {
   margin-bottom: 62px;
   margin-top: 29px;
   margin-right: 0px;
   margin-left: 43px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 539px;
}

#textcolumn  {
   min-height: 978px;
   width: 677px;
   margin-left: 8px;
}
