.mainh1 p a,
.affiliatessubheading p a,
.membershiptext p a,
.maintext p a,
.membershipsubheading p a,
.mainh2 p a,
.locationssubheading p a,
.i427locationstext p a,
.affiliatestext p a  {
   display: inline;
}

.mainh1 li,
.mainh2 li,
.mainh1 p,
.mainh2 p  {
   margin: 0px;
}

h1  {
   line-height: 29px;
   font-size: 24px;
}

h2  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
}

h3  {
   letter-spacing: 0px;
   font-family: Helvetica, Arial, sans-serif;
}

