.amenitiestext p,
.rewardsforyou p,
.moreinformationbrochurene p,
.i1316southernin p,
.amenitiestext li,
.datesopenh3 h3,
.easterntext li,
.attractionstextright li,
.indianacampgroundownersas li,
.maintext li,
.parktext li,
.i1417amenitiesh3 h3,
.i1426mapembed p,
.i1313locationstext p,
.i1419attractionsh3 h3,
.mapembed p,
.indianacampgroundownersas p,
.attractionstextleft li,
.southerntext li,
.i1324northernin p,
.attractionsleft li,
.amenitiesleft p,
.i1320easternin li,
.amenitiesleft li,
.contactinfo li,
.i1320easternin p,
.i1322westernin p,
.i1224centralin li,
.attractionstextright p,
.westerntext li,
.searchbynamelocationameni li,
.i1313locationstext li,
.rewardsforyou li,
.emailformembed p,
.i1222southernin li,
.overviewtext p,
.i1222southernin p,
.directions p,
.i1423directionsh3 h3,
.seasonh3 h3,
.i1324northernin li,
.attractionsright li,
.parktitleh1 h1,
.southerntext p,
.i1230northernin p,
.i1224centralin p,
.directions li,
.i1218locationstext p,
.i1322westernin li,
.i1226easternin li,
.centraltext li,
.directionstext li,
.i1426mapembed li,
.membershiptext li,
.datesopenh3 li,
.contactinfo p,
.i1419attractionsh3 p,
.affiliatestext li,
.i1226easternin p,
.contactusforyourfreecampi li,
.northerntext p,
.i1230northernin li,
.i427locationstext p,
.supportoursupporters p,
.attractionsright p,
.directionsh3 h3,
.i1218locationstext li,
.i1417amenitiesh3 p,
.amenitiesh3 h3,
.attractionsleft p,
.easterntext p,
.moreinformationbrochurene li,
.emailformembed li,
.campgroundownermembership li,
.searchbynamelocationameni p,
.amenitiesh3 li,
.northerntext li,
.i1228westernin p,
.overviewtext li,
.membershiptext p,
.attractionsh3 li,
.parknameh1 h1,
.info p,
.i1228westernin li,
.parktext p,
.i1417amenitiesh3 li,
.supportoursupporters li,
.attractionsh3 p,
.directionstext p,
.i1419attractionsh3 li,
.affiliatestext p,
.amenitiesh3 p,
.centraltext p,
.westerntext p,
.datesopenh3 p,
.i1318centralin li,
.maintext p,
.attractionsh3 h3,
.i1318centralin p,
.mapembed li,
.campgroundownermembership p,
.i427locationstext li,
.i1316southernin li,
.attractionstextleft p,
.contactusforyourfreecampi p,
.info li  {
   padding: 15px 0px 0px 0px;
   margin: 0px;
   text-indent: 0px;
   text-align: left;
   font-weight: normal;
   font-style: normal;
   font-variant: normal;
   text-decoration: none;
   color: #000000;
}

.seasonh3 p a,
.directionsh3 p a,
.attractionsh3 p a,
.searchbynamelocationameni p a,
.emailformembed p a,
.moreinformationbrochurene p a,
.campgroundownermembership p a,
.mapembed p a,
.rewardsforyou p a,
.amenitiesh3 p a,
.directionstext p a,
.parknameh1 p a,
.indianacampgroundownersas p a,
.attractionstextleft p a,
.contactusforyourfreecampi p a,
.attractionstextright p a,
.parktext p a,
.supportoursupporters p a,
.amenitiesleft p a,
.contactinfo p a  {
   display: inline;
}

.i1219locationsh2 h2,
.affiliatessubheading p,
.mainh1 h1,
.locationssubheading p,
.membershipsubheading p,
.locationssubheading li,
.i1314locationsh2 h2,
.affiliatessubheading li,
.centralh3 h3,
.easternh3 h3,
.i1315locationsh1 h1,
.i1220locationsh1 h1,
.membershipsubheading li,
.westernh3 h3,
.southernh3 h3,
.northernh3 h3,
.mainh2 h2  {
   padding: 15px 0px 0px 0px;
   margin: 0px;
   color: #000000;
   text-decoration: none;
   font-variant: normal;
   letter-spacing: 1px;
   font-style: normal;
   font-weight: normal;
   text-indent: 0px;
   text-align: center;
}

.parknameh1 li,
.seasonh3 p,
.parknameh1 p,
.directionsh3 li,
.directionsh3 p,
.seasonh3 li  {
   margin: 0px;
}

.indianacampgroundownersas li  {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 10px;
   line-height: 12px;
   letter-spacing: 1px;
}

.searchbynamelocationameni li  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
   text-align: center;
   padding-top: 0px;
}

.contactusforyourfreecampi li  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.moreinformationbrochurene li  {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   padding-top: 0px;
}

.campgroundownermembership li  {
   text-align: center;
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
   padding-top: 0px;
}

.moreinformationbrochurene p  {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   padding-top: 0px;
}

.indianacampgroundownersas p  {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 10px;
   line-height: 12px;
   letter-spacing: 1px;
}

.campgroundownermembership p  {
   text-align: center;
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
   padding-top: 0px;
}

.searchbynamelocationameni p  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
   text-align: center;
   padding-top: 0px;
}

.contactusforyourfreecampi p  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.affiliatessubheading li  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.membershipsubheading li  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.attractionstextright li  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.supportoursupporters li  {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   padding-top: 0px;
}

.affiliatessubheading p  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.attractionstextleft li  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.membershipsubheading p  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.attractionstextright p  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.locationssubheading li  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.supportoursupporters p  {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   padding-top: 0px;
}

.i1218locationstext li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.i1313locationstext li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.i1419attractionsh3 li  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.attractionstextleft p  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.locationssubheading p  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.i1419attractionsh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.i1218locationstext p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.i1419attractionsh3 p  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.i427locationstext li  {
   font-family: Tahoma, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.i1423directionsh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1px;
}

.i1313locationstext p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.i1314locationsh2 h2  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 16px;
   line-height: 19px;
}

.i1220locationsh1 h1  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: 2px;
}

.i1417amenitiesh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1px;
}

.i427locationstext p  {
   font-family: Tahoma, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.i1219locationsh2 h2  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 16px;
   line-height: 19px;
}

.i1417amenitiesh3 li  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1px;
}

.attractionsright li  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.i1315locationsh1 h1  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: 2px;
}

.i1417amenitiesh3 p  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1px;
}

.i1222southernin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.attractionsright p  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.i1324northernin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1230northernin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1316southernin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.attractionsleft li  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.attractionsleft p  {
   letter-spacing: 1px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.i1324northernin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1226easternin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1222southernin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1320easternin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1230northernin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.directionstext li  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.i1318centralin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.membershiptext li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.emailformembed li  {
   letter-spacing: 0px;
   line-height: 7px;
   font-size: 6px;
   font-family: Helvetica, Arial, sans-serif;
   text-align: center;
}

.i1322westernin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1316southernin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1228westernin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1224centralin li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.affiliatestext li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.directionstext p  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.i1228westernin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1224centralin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1322westernin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.i1318centralin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.affiliatestext p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.attractionsh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.membershiptext p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.i1226easternin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.emailformembed p  {
   letter-spacing: 0px;
   line-height: 7px;
   font-size: 6px;
   font-family: Helvetica, Arial, sans-serif;
   text-align: center;
}

.amenitiestext li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.attractionsh3 li  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.amenitiesleft li  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.i1320easternin p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
}

.rewardsforyou li  {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   padding-top: 0px;
}

.i1426mapembed li  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.rewardsforyou p  {
   text-align: center;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1px;
   padding-top: 0px;
}

.overviewtext li  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.southerntext li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.northerntext li  {
   font-family: Tahoma, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.amenitiesleft p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.amenitiestext p  {
   letter-spacing: 0px;
   line-height: 14px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
}

.directionsh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1px;
}

.attractionsh3 p  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.i1426mapembed p  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.westerntext li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.overviewtext p  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.easterntext li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.datesopenh3 h3  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.centraltext li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.contactinfo li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
   padding-top: 0px;
}

.northerntext p  {
   font-family: Tahoma, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.southerntext p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.parktitleh1 h1  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 2px;
}

.datesopenh3 li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.amenitiesh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1px;
}

.amenitiesh3 li  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1px;
}

.centraltext p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.westerntext p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.southernh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.northernh3 h3  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.contactinfo p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
   padding-top: 0px;
}

.amenitiesh3 p  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1px;
}

.parknameh1 h1  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 2px;
}

.datesopenh3 p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.easterntext p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
}

.directions li  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.westernh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.directions p  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.centralh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.easternh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 22px;
}

.maintext li  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Tahoma, sans-serif;
}

.seasonh3 h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
}

.mapembed li  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.parktext li  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.parktext p  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.mapembed p  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

.maintext p  {
   letter-spacing: 2px;
   line-height: 18px;
   font-size: 14px;
   font-family: Tahoma, sans-serif;
}

.mainh2 h2  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 16px;
   line-height: 19px;
}

.mainh1 h1  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: 2px;
}

.info li  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
   padding-top: 0px;
}

.info p  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
   padding-top: 0px;
}

body, p,
h4,
h5,
h6  {
   font-family: Helvetica, Arial, sans-serif;
}

h1  {
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 2px;
   font-family: Tahoma-Bold, Tahoma, sans-serif;
}

h3  {
   font-family: Helvetica-Bold, Helvetica, Arial, sans-serif;
   letter-spacing: 1px;
}

h2  {
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 1px;
   font-family: Helvetica, Arial, sans-serif;
}

