#maintext,
#westerntext,
#directionsh3,
#i3ad210x182content,
#directionstext,
#membershiptext,
#contactusforyourfreecampi,
#seasonh3,
#i1417amenitiesh3,
#amenitiesh3,
#parknameh1,
#i1423directionsh3,
#i427locationstext,
#affiliatestext,
#i1218locationstext,
#parktitleh1,
#easterntext,
#i1313locationstext,
#parktext,
#datesopenh3  {
   top: 0px;
   left: 0px;
   position: relative;
   margin-right: 0px;
   margin-bottom: 0px;
}

#i1228westernin,
#i1316southernin,
#info,
#i1320easternin,
#i1224centralin,
#attractionsleft,
#i1226easternin,
#attractionsright,
#i1222southernin,
#i1324northernin,
#i1230northernin,
#i1322westernin,
#i1318centralin  {
   top: 0px;
   left: 0px;
   position: relative;
   margin-right: 0px;
   margin-top: 4px;
   margin-bottom: 0px;
}

#i1217mainshadow,
#i1211affiliatesshadow,
#i1149membershipshadow,
#i1214locationsshadow,
#centralshadow,
#southernshadow,
#i1145mainshadow,
#i1148affiliatesshadow,
#i1208membershipshadow,
#i1147locationsshadow  {
   height: 28px;
   width: 655px;
   top: 0px;
   left: 0px;
   position: relative;
   margin-left: 6px;
   margin-right: 0px;
   margin-bottom: 0px;
   background-repeat: no-repeat;
}

#aboutusmenu ul li a,
#homemenu ul li a,
#contactusmenu ul li a,
#preferredcampersmenu ul li a,
#findacampgroundmenuhovers div ul li a,
#findacampgroundmenu ul li a,
#affiliatessuppliersmenu ul li a  {
   padding-left: 0px;
   padding-right: 0px;
   width: 100%;
   display: block;
}

#i1314locationsh2,
#amenitiesleft,
#i1220locationsh1,
#membershipsubheading,
#amenitiestext,
#locationssubheading,
#attractionsh3,
#mainh2,
#i1219locationsh2,
#i1315locationsh1,
#mainh1  {
   top: 0px;
   left: 0px;
   position: relative;
   margin-left: 6px;
   margin-right: 0px;
   margin-bottom: 0px;
}

#findacampgroundmenuhovers div ul li,
#contactusmenu ul li,
#preferredcampersmenu ul li,
#homemenu ul li,
#affiliatessuppliersmenu ul li,
#aboutusmenu ul li,
#findacampgroundmenu ul li  {
   width: 100%;
   margin-right: 0px;
   margin-left: 0px;
}

#affiliatessuppliersmenu ul,
#findacampgroundmenuhovers div ul,
#homemenu ul,
#findacampgroundmenu ul,
#aboutusmenu ul,
#preferredcampersmenu ul,
#contactusmenu ul  {
   font: normal normal 14px/17px Helvetica-Bold, Helvetica, Arial, sans-serif;
   margin: 0px;
   padding: 0px;
   color: #000000;
   text-decoration: none;
   font-variant: normal;
   letter-spacing: 1px;
   text-indent: 0px;
   text-align: center;
}

#i1229westerngraycopy,
#i1325northerngreencopy,
#i1227easternbluecopy,
#i1231northerngreencopy,
#i1321easternbluecopy,
#i1323westerngraycopy  {
   height: 25px;
   width: 34px;
   top: 0px;
   left: 0px;
   position: relative;
   margin-right: 0px;
   margin-top: 9px;
   margin-bottom: 0px;
   background-repeat: no-repeat;
}

#i1225centralorangecopy,
#i1317southernyellowcopy,
#i1223southernyellowcopy,
#i1319centralorangecopy  {
   height: 25px;
   width: 34px;
   top: 0px;
   left: 0px;
   position: relative;
   margin-right: 0px;
   margin-top: 10px;
   margin-bottom: 0px;
   background-repeat: no-repeat;
}

#rightpicturebox table,
#middlepicturebox table,
#logopicturebox table,
#lastpicturebox table  {
   width: 100%;
   height: 100%;
}

#centralorange,
#southernyellow,
#easternbluecircle,
#westerngray,
#northerngreen  {
   position: absolute;
   left: 129px;
   z-index: 7;
   width: 34px;
   height: 27px;
   margin-left: 0px;
   margin-top: 0px;
   background-repeat: no-repeat;
}

#campgrounddirectorybutton a:hover,
#campgrounddirectorybutton a.nmh  {
   background-position: -128px 0%;
      background: url(sg_home_media/campgrounddirectorybutton.gif) no-repeat;

}

#preferredcampersmenu,
#contactusmenu,
#homemenu,
#aboutusmenu  {
   margin: 0px;
   z-index: 9;
   left: 55px;
   position: absolute;
}

#camperprogrambutton a:hover,
#camperprogrambutton a.nmh  {
   background-position: -112px 0%;
}

#lastpicturebox,
#rightpicturebox,
#middlepicturebox  {
	position: absolute;
	top: 6px;
	z-index: 6;
	width: 300px;
	height: 400px;
	margin-left: 0px;
	margin-top: 0px;
}

#westernh3,
#centralh3,
#southernh3,
#northernh3  {
   position: absolute;
   left: 1px;
   z-index: 8;
   width: 648px;
   margin-left: 0px;
   margin-top: 0px;
}

#facebookbutton a.nmh,
#facebookbutton a:hover  {
   background-position: -72px 0%;
}

#southernpanel,
#centralpanel,
#westernpanel  {
   min-height: 38px;
   width: 660px;
   top: 0px;
   left: 0px;
   position: relative;
   margin-left: 5px;
   margin-right: 0px;
   margin-bottom: 0px;
}

#findacampgroundmenuhovers > div:first-child  {
   top: 0px;
   left: 0px;
   padding: 0px;
   margin: 0px;
   position: relative;
   display: block;
   width: 172px;
}

#southerntext,
#northerntext,
#centraltext  {
   width: 644px;
   top: 0px;
   left: 0px;
   position: relative;
   margin-left: -654px;
   margin-right: 0px;
   margin-bottom: 0px;
}

#i1ad210x182content,
#i2ad210x182content  {
   width: 210px;
   top: 0px;
   left: 0px;
   position: relative;
   margin-left: 10px;
   margin-right: 0px;
   margin-top: 56px;
}

.fl li *,
.fl li a,
#i516footermenu > ul > li > a  {
   display: inline;
}

#i1419attractionsh3,
#contactinfo  {
   top: 0px;
   left: 0px;
   position: relative;
   margin-right: 0px;
   margin-top: 10px;
   margin-bottom: 0px;
}

#findacampgroundmenuhovers div ul  {
   font-family: Helvetica, Arial, sans-serif;
   line-height: 23px;
}

#campgrounddirectorybutton a  {
   background: url(sg_home_media/campgrounddirectorybutton.gif) no-repeat;
   display: block;
   height: 167px;
   width: 128px;
   font-size: 167px;
   line-height: 167px;
}

#preferredcamperparticipan  {
   background: url(sg_caboose-lake_media/preferredcamperparticipan.gif) no-repeat;
   position: absolute;
   left: 7px;
   top: 9px;
   z-index: 8;
   width: 91px;
   height: 90px;
   margin-left: 0px;
   margin-top: 0px;
}

#searchbynamelocationameni  {
   position: absolute;
   left: 55px;
   top: 93px;
   z-index: 9;
   width: 190px;
   margin-left: 0px;
   margin-top: 0px;
}

#moreinformationbrochurene  {
   position: absolute;
   left: 57px;
   top: 267px;
   z-index: 9;
   width: 187px;
   margin-left: 0px;
   margin-top: 0px;
}

#campgroundownermembership  {
   position: absolute;
   left: 57px;
   top: 336px;
   z-index: 9;
   width: 185px;
   margin-left: 0px;
   margin-top: 0px;
}

#findacampgroundmenuhovers  {
   margin: 0px;
   overflow: hidden;
   display: none;
   width: 177px;
   z-index: 10;
   top: 364px;
   left: 73px;
   position: absolute;
}

#indianacampgroundownersas  {
   position: absolute;
   left: 5px;
   top: 56px;
   z-index: 5;
   width: 988px;
   margin-left: 0px;
   margin-top: 0px;
}

#campgrounddirectorybutton  {
   margin: -3px 0px 0px -7px;
   height: 167px;
   width: 128px;
   top: 0px;
   left: 0px;
   position: relative;
}

#northernpanel,
#eastpanel  {
   margin: 2px 0px 0px 5px;
   top: 0px;
   left: 0px;
   position: relative;
}

#escapeesclubcontentunique  {
   position: absolute;
   left: 252px;
   top: 17px;
   z-index: 8;
   width: 57px;
   margin-left: 0px;
   margin-top: 0px;
}

#passportamericacontentuni  {
   position: absolute;
   left: 176px;
   top: 18px;
   z-index: 8;
   width: 71px;
   margin-left: 0px;
   margin-top: 0px;
}

#contactusforyourfreecampi  {
   margin-top: 32px;
   margin-left: 11px;
   width: 164px;
}

#goodsamlogocontentunique  {
   position: absolute;
   left: 117px;
   top: 21px;
   z-index: 8;
   width: 50px;
   margin-left: 0px;
   margin-top: 0px;
}

#affiliatessuppliersmenu  {
   margin: 0px;
   width: 189px;
   z-index: 9;
   top: 194px;
   left: 57px;
   position: absolute;
}

#i1317southernyellowcopy  {
   background-image: url(sg_northern-indiana-campgrounds_media/d1317southernyellowcopy.gif);
   margin-left: 12px;
}

#i1223southernyellowcopy  {
   background-image: url(sg_campground-locations_media/southernyellowcopy.png);
   margin-left: 12px;
}

#littleboycontentunique  {
   position: absolute;
   left: 838px;
   top: 2px;
   z-index: 4;
   width: 180px;
   margin-left: 0px;
   margin-top: 0px;
}

#i1231northerngreencopy  {
   background-image: url(sg_campground-locations_media/northerngreencopy.png);
   margin-left: 48px;
}

#i1319centralorangecopy  {
   background-image: url(sg_northern-indiana-campgrounds_media/d1319centralorangecopy.gif);
   margin-left: 5px;
}

#i1325northerngreencopy  {
   background-image: url(sg_northern-indiana-campgrounds_media/d1325northerngreencopy.gif);
   margin-left: 48px;
}

#i516footermenu ul li a  {
   padding: 1px 0.57em 2px 0.57em;
   line-height: 17px;
   height: 100%;
}

#i1225centralorangecopy  {
   background-image: url(sg_campground-locations_media/centralorangecopy.png);
   margin-left: 5px;
}

#i1211affiliatesshadow  {
   background-image: url(sg_home_media/affiliatesshadow.png);
   margin-top: 42px;
}

#i1148affiliatesshadow  {
   background-image: url(sg_home_media/affiliatesshadow.png);
   margin-top: 39px;
}

#camperprogrambutton a  {
   background: url(sg_home_media/camperprogrambutton.gif) no-repeat;
   display: block;
   height: 113px;
   width: 112px;
   font-size: 113px;
   line-height: 113px;
}

#i1149membershipshadow  {
   background-image: url(sg_home_media/membershipshadow.png);
   margin-top: 30px;
}

#i1208membershipshadow  {
   background-image: url(sg_home_media/membershipshadow.png);
   margin-top: 42px;
}

#campfirecontentunique  {
   position: absolute;
   left: 658px;
   top: 2px;
   z-index: 5;
   width: 180px;
   margin-left: 0px;
   margin-top: 0px;
}

#i1323westerngraycopy  {
   background-image: url(sg_northern-indiana-campgrounds_media/d1323westerngraycopy.gif);
   margin-left: 6px;
}

#supportoursupporters  {
   position: absolute;
   left: 61px;
   top: 218px;
   z-index: 9;
   width: 180px;
   margin-left: 0px;
   margin-top: 0px;
}

#i516footermenu ul li  {
   height: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
}

#i1321easternbluecopy  {
   background-image: url(sg_northern-indiana-campgrounds_media/d1321easternbluecopy.gif);
   margin-left: 10px;
}

#preferredcampersmenu  {
   top: 143px;
   width: 191px;
}

#i1147locationsshadow  {
   background-image: url(sg_home_media/affiliatesshadow.png);
   margin-top: 53px;
}

#i1214locationsshadow  {
   background-image: url(sg_home_media/affiliatesshadow.png);
   margin-top: 41px;
}

#membershipsubheading  {
   margin-top: -3px;
   width: 648px;
}

#i1229westerngraycopy  {
   background-image: url(sg_campground-locations_media/westerngraycopy.png);
   margin-left: 6px;
}

#attractionstextright  {
   margin: -4px 0px 0px 20px;
   width: 328px;
   top: 0px;
   left: 0px;
   position: relative;
}

#i1227easternbluecopy  {
   background-image: url(sg_campground-locations_media/easternbluecopy.png);
   margin-left: 10px;
}

#attractionstextleft  {
   margin: -4px 0px -4px 3px;
   width: 300px;
   top: 0px;
   left: 0px;
   position: relative;
}

#locationssubheading  {
   margin-top: -5px;
   width: 648px;
}

#tentercontentunique  {
   position: absolute;
   left: 478px;
   top: 2px;
   z-index: 6;
   width: 180px;
   margin-left: 0px;
   margin-top: 0px;
}

#findacampgroundmenu  {
   margin: 0px;
   width: 189px;
   z-index: 10;
   top: 75px;
   left: 55px;
   position: absolute;
}

#camperprogrambutton  {
   margin: 0px 0px 0px 35px;
   height: 113px;
   width: 112px;
   top: 0px;
   left: 0px;
   position: relative;
}

#i1313locationstext  {
   margin-top: 6px;
   margin-left: 11px;
   width: 650px;
}

#i2ad210x182content  {
   margin-bottom: 0px;
}

#i3ad210x182content  {
   margin-top: 56px;
   margin-left: 11px;
   width: 210px;
}

#i1ad210x182content  {
   margin-bottom: 19px;
}

#i1218locationstext  {
   margin-top: 6px;
   margin-left: 11px;
   width: 650px;
}

#i1419attractionsh3  {
   margin-left: 9px;
   width: 316px;
}

#swimcontentunique  {
   position: absolute;
   left: 297px;
   top: 2px;
   z-index: 7;
   width: 181px;
   margin-left: 0px;
   margin-top: 0px;
}

#i1423directionsh3  {
   margin-top: 3px;
   margin-left: 9px;
   width: 294px;
}

#i427locationstext  {
   margin-top: 3px;
   margin-left: 11px;
   width: 644px;
}

#attractionscolumn  {
   margin: 8px 0px 0px 6px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 659px;
   min-height: 98px;
}

#easternbluecircle  {
   background-image: url(sg_campground-locations_media/easternbluecircle.png);
   top: 8px;
}

#footerpanelfollow  {
   margin: 0px 0px 0px 6px;
   min-height: 88px;
   width: 1012px;
   top: 0px;
   left: 0px;
   position: relative;
}

#i516footermenu ul  {
   height: 17px;
   margin: 0px;
   padding: 0px;
   letter-spacing: 2px;
   line-height: 17px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
   text-align: center;
}

#i1314locationsh2  {
   margin-top: -2px;
   width: 652px;
}

#i1220locationsh1  {
   margin-top: 1px;
   width: 652px;
}

#facebookbutton a  {
   background: url(sg_home_media/facebookbutton.gif) no-repeat;
   display: block;
   height: 74px;
   width: 72px;
   font-size: 74px;
   line-height: 74px;
}

#i1219locationsh2  {
   margin-top: -2px;
   width: 652px;
}

#i1315locationsh1  {
   margin-top: 1px;
   width: 652px;
}

#middlepicturebox  {
   left: 348px;
}

#i1417amenitiesh3  {
   margin-top: 7px;
   margin-left: 11px;
   width: 294px;
}

#attractionsright  {
   margin-left: 20px;
   width: 328px;
}

#attractionsleft  {
   margin-left: 12px;
   width: 300px;
}

#i1222southernin  {
   margin-left: -2px;
   width: 71px;
}

#rightpicturebox  {
   left: 668px;
}

#i1145mainshadow  {
   background-image: url(sg_home_media/affiliatesshadow.png);
   margin-top: 22px;
}

#pictureboxpanel  {
   margin: 9px 0px 50px 14px;
   min-height: 214px;
   width: 979px;
   top: 0px;
   left: 0px;
   position: relative;
}

#i1316southernin  {
   margin-left: -2px;
   width: 71px;
}

#i1324northernin  {
   margin-left: 0px;
   width: 78px;
}

#i1217mainshadow  {
   background-image: url(sg_home_media/affiliatesshadow.png);
   margin-top: 22px;
}

#i1230northernin  {
   margin-left: 0px;
   width: 78px;
}

#i516footermenu  {
   position: absolute;
   left: 337px;
   top: 23px;
   z-index: 5;
   margin-left: 0px;
   margin-top: 0px;
}

#i1322westernin  {
   margin-left: 0px;
   width: 75px;
}

#i1320easternin  {
   margin-left: -2px;
   width: 75px;
}

#i1318centralin  {
   margin-left: -3px;
   width: 71px;
}

#southernyellow  {
   background-image: url(sg_campground-locations_media/southernyellow.png);
   top: 2px;
}

#membershiptext  {
   margin-top: 2px;
   margin-left: 11px;
   width: 644px;
}

#southernshadow  {
   background-image: url(sg_home_media/affiliatesshadow.png);
   margin-top: 37px;
   margin-bottom: 5px;
}

#facebookbutton  {
   margin: 19px 0px 0px 41px;
   height: 74px;
   width: 72px;
   top: 0px;
   left: 0px;
   position: relative;
}

#lastpicturebox  {
   left: 19px;
}

#i1226easternin  {
   margin-left: -2px;
   width: 75px;
}

#i1224centralin  {
   margin-left: -3px;
   width: 71px;
}

#emailformembed  {
   margin: 31px 0px 417px 11px;
   width: 289px;
   top: 0px;
   left: 0px;
   position: relative;
}

#i1228westernin  {
   margin-left: 0px;
   width: 75px;
}

#directionstext  {
   margin-top: 1px;
   margin-left: 11px;
   width: 598px;
}

#affiliatestext  {
   margin-top: 5px;
   margin-left: 11px;
   width: 647px;
}

#logopicturebox  {
   margin: 29px 0px 0px 15px;
   height: 195px;
   width: 317px;
   top: 0px;
   left: 0px;
   position: relative;
}

#attractionsh3  {
   margin-top: 5px;
   width: 316px;
}

#northernpanel  {
   width: 660px;
   min-height: 38px;
}

#northerngreen  {
   background-image: url(sg_campground-locations_media/northerngreen.png);
   top: 1px;
}

#centralshadow  {
   background-image: url(sg_home_media/membershipshadow.png);
   margin-top: 48px;
}

#southernpanel  {
   margin-top: -7px;
}

#rewardsforyou  {
   position: absolute;
   left: 64px;
   top: 165px;
   z-index: 9;
   width: 174px;
   margin-left: 0px;
   margin-top: 0px;
}

#amenitiesleft  {
   margin-top: 7px;
   width: 652px;
   margin-left: 9px;
}

#navbackground  {
   background: url(sg_home_media/navbackground.png) no-repeat;
   position: absolute;
   left: 22px;
   top: 26px;
   z-index: 8;
   width: 257px;
   height: 429px;
   margin-left: 0px;
   margin-top: 0px;
}

#amenitiestext  {
   margin-top: 5px;
   width: 652px;
   margin-left: 12px;
}

#contactusmenu  {
   top: 246px;
   width: 192px;
}

#centralorange  {
   background-image: url(sg_campground-locations_media/centralorange.png);
   top: 3px;
}

#centralpanel  {
   margin-top: 4px;
}

#page_content  {
   min-height: 1603px;
}

#directionsh3  {
   margin-top: -1px;
   margin-left: 6px;
   width: 294px;
}

#overviewtext  {
   margin: -3px 0px 0px 13px;
   width: 653px;
   top: 0px;
   left: 0px;
   position: relative;
}

#westernpanel  {
   margin-top: -5px;
}

#northerntext  {
   margin-top: 28px;
}

#southerntext  {
   margin-top: 20px;
}

#campindiana  {
   background: url(sg_home_media/campindiana.gif) no-repeat;
   position: absolute;
   left: 22px;
   top: 36px;
   z-index: 4;
   width: 259px;
   height: 109px;
   margin-left: 0px;
   margin-top: 0px;
}

#centraltext  {
   margin-top: 33px;
}

#westerntext  {
   margin-top: -8px;
   margin-left: 11px;
   width: 647px;
}

#easterntext  {
   margin-top: -6px;
   margin-left: 11px;
   width: 644px;
}

#aboutusmenu  {
   top: 315px;
   width: 192px;
}

#contactinfo  {
   margin-left: 45px;
   width: 283px;
}

#datesopenh3  {
   margin-top: 0px;
   margin-left: 11px;
   width: 294px;
}

#amenitiesh3  {
   margin-top: 4px;
   margin-left: 8px;
   width: 294px;
}

#parktitleh1  {
   margin-top: 0px;
   margin-left: 9px;
   width: 318px;
}

#westerngray  {
   background-image: url(sg_campground-locations_media/westerngray.png);
   top: 2px;
}

#logocolumn  {
   margin-top: 0px;
   margin-left: 0px;
   min-height: 375px;
   width: 341px;
   z-index: 6;
   top: 10px;
   left: 324px;
   position: absolute;
}

#maincolumn  {
   margin: 269px 0px 0px 6px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 1005px;
   min-height: 1231px;
}

#greenwaves  {
   background: url(sg_home_media/greenwaves.gif) no-repeat;
   position: absolute;
   left: 10px;
   top: 168px;
   z-index: 11;
   width: 1001px;
   height: 144px;
   margin-left: 0px;
   margin-top: 0px;
}

#textcolumn  {
   margin: 22px 0px 0px 11px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 665px;
   min-height: 936px;
}

#northernh3  {
   top: -7px;
}

#parknameh1  {
   margin-top: 0px;
   margin-left: 6px;
   width: 318px;
}

#directions  {
   margin: 9px 0px 0px 12px;
   width: 598px;
   top: 0px;
   left: 0px;
   position: relative;
}

#sidecolumn  {
   margin: 0px 0px 0px 2px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 315px;
   min-height: 1203px;
}

#menuheader  {
   background: url(sg_home_media/menuheader.png) no-repeat;
   position: absolute;
   left: 4px;
   top: 12px;
   z-index: 10;
   width: 294px;
   height: 40px;
   margin-left: 0px;
   margin-top: 0px;
}

#southernh3  {
   top: -8px;
}

#centralh3  {
   top: -6px;
}

#westernh3  {
   width: 649px;
   top: -7px;
}

#logopanel  {
   margin: 13px 0px 7px 0px;
   min-height: 101px;
   width: 341px;
   top: 0px;
   left: 0px;
   position: relative;
}

#eastpanel  {
   width: 656px;
   min-height: 42px;
}

#menupanel  {
   margin: 0px;
   min-height: 461px;
   width: 308px;
   top: 0px;
   left: 0px;
   position: relative;
}

#seasonh3  {
   margin-top: 0px;
   margin-left: 45px;
   width: 294px;
}

#parktext  {
   margin-top: 0px;
   margin-left: 10px;
   width: 312px;
}

#maintext  {
   margin-top: 4px;
   margin-left: 11px;
   width: 650px;
}

#mapembed  {
   margin: 37px 0px 129px 40px;
   width: 539px;
   top: 0px;
   left: 0px;
   position: relative;
}

#homemenu  {
   top: 45px;
   width: 189px;
}

#mainh2  {
   margin-top: -2px;
   width: 652px;
}

#mainh1  {
   margin-top: 1px;
   width: 652px;
}

.page_content_bkg  {
   position: absolute;
   z-index: 1;
   width: 1024px;
   left: 0px;
   top: 0px;
   display: block;
}

#info  {
   margin-left: 12px;
   width: 310px;
}

.container_div  {
   margin: 0px auto 0px auto;
   width: 1024px;
   position: relative;
}

.spacing_div  {
   height: 0px;
   min-height: 0px;
}

.full_width  {
   min-width: 1024px;
   margin: 0px;
   padding: 0px;
   position: relative;
}

*:focus  {
   outline-style: none;
}

.divider  {
   clear: left;
   display: block;
}

.c_b * a  {
   color: #000000;
}

.col_bg  {
   position: absolute;
   z-index: 1;
   left: 0px;
   top: 0px;
   width: 100%;
}

.column  {
   padding: 0px;
   margin: 0px;
   float: left;
   position: relative;
   display: inline;
}

.fl li  {
   float: left;
}

.flow  {
   z-index: 2;
   position: relative;
}

ains  {
   text-decoration: none;
}

a.nm  {
   background-position: 0px 0px;
}

body  {
   padding: 0px;
   margin: 0px;
   height: 100%;
   -webkit-text-size-adjust: none;
}

html, body  {
   background: #000000 url(sg_home_media/browserbackground.jpg) center top no-repeat;
   background-attachment: fixed;
   height: 100%;
}
