.text_button a { width:100%; display: block;
  text-decoration:none;
  background-color: transparent;
 }

.text_button a:visited {
 }

.text_button a.nmh,
.text_button a.pm,
.text_button a.pmh,
.text_button a:hover {
  text-decoration: underline;
 }

.text_button a.cm,
.text_button a.cmh,
.text_button a:active {
 }

.text_button li { list-style:none outside;
     margin-right:0px; margin-bottom:0px; }

.layergroup_button a { width:100%; display: block;
  text-decoration:none;
  background-color: transparent;
 }

.layergroup_button a:visited {
 }

.layergroup_button a.nmh,
.layergroup_button a.pm,
.layergroup_button a.pmh,
.layergroup_button a:hover {
  font-style: italic;
 }

.layergroup_button a.cm,
.layergroup_button a.cmh,
.layergroup_button a:active {
 }

.layergroup_button li { list-style:none outside;
     margin-right:0px; margin-bottom:0px; }

.vertical_menu a { width:100%; display: block;
  text-decoration:none;
  background-color: transparent;
  color: #FFFFFF;
  text-shadow: 2px 2px 1px #000000;
 }

.vertical_menu a:visited {
 }

.vertical_menu a.nmh,
.vertical_menu a.pm,
.vertical_menu a.pmh,
.vertical_menu a:hover {
  text-decoration: underline;
  color: #000000;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.0);
 }

.vertical_menu a.cm,
.vertical_menu a.cmh,
.vertical_menu a:active {
 }

.vertical_menu li { list-style:none outside;
     margin-right:0px; margin-bottom:0px; }

.hovershow a { background-color: #090909; }
.hovershow a { width:100%; display: block;
  text-decoration:none;
  background-color: rgba(9, 9, 9, 0.77);
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.0);
  border: 1px solid #A4D14C;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
 }

.hovershow a:visited {
 }

.hovershow a.nmh,
.hovershow a.pm,
.hovershow a.pmh,
.hovershow a:hover {
  text-decoration: underline;
  color: #B7ED56;
  text-shadow: 1px 1px 2px #364122;
  border: 1px solid #DADFE1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
 }

.hovershow a.cm,
.hovershow a.cmh,
.hovershow a:active {
 }

.hovershow li { list-style:none outside;
     margin-right:0px; margin-bottom:0px; }

.text_link a { width:100%;
  text-decoration:none;
  background-color: transparent;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #000000;
 }

.text_link a:visited {
 }

.text_link a.nmh,
.text_link a.pm,
.text_link a.pmh,
.text_link a:hover {
  text-decoration: underline;
  color: #C5E581;
  text-shadow: 1px 1px 2px #0C0C0C;
 }

.text_link a.cm,
.text_link a.cmh,
.text_link a:active {
 }

.horizontal_menu a { width:100%; display: block;
  text-decoration:none;
  background-color: transparent;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #010202;
 }

.horizontal_menu a:visited {
 }

.horizontal_menu a.nmh,
.horizontal_menu a.pm,
.horizontal_menu a.pmh,
.horizontal_menu a:hover {
  text-decoration: underline;
  color: #000000;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.55);
 }

.horizontal_menu a.cm,
.horizontal_menu a.cmh,
.horizontal_menu a:active {
 }

.horizontal_menu li { list-style:none outside;
     margin-right:0px; margin-bottom:0px; }

.menutree_top > ul > li > a { display:block;
  text-decoration:none;
  background-color: transparent;
 }

.menutree_top > ul > li > a:visited {
 }

.menutree_top > ul > li > a:hover,
.menutree_top > ul > li > a.nmh {
  text-decoration: underline;
 }

.menutree_top > ul > li > a:active,
.menutree_top > ul > li > a.cmh {
 }

.menutree_child .children a { display:block;
  text-decoration:none;
  background-color: transparent;
 }

.menutree_child .children a:visited {
 }

.menutree_child .children a:hover,
.menutree_child .children a.nmh {
  text-decoration: underline;
 }

.menutree_child .children a:active,
.menutree_child .children a.cmh {
 }

.menutree_child .sub-menu a { display:block;
  text-decoration:none;
  background-color: transparent;
 }

.menutree_child .sub-menu a:visited {
 }

.menutree_child .sub-menu a:hover,
.menutree_child .sub-menu a.nmh {
  text-decoration: underline;
 }

.menutree_child .sub-menu a:active,
.menutree_child .sub-menu a.cmh {
 }


.-none- {  }

.textcolumn {   border: 1px none #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-bottom: 1px solid #000000;
 }

