#i1312mainshadow  {
   background-repeat: no-repeat;
   background-image: url(sg_northern-indiana-campgrounds_media/d1312mainshadow.png);
   margin-bottom: 630px;
   margin-top: 34px;
   margin-right: 0px;
   margin-left: 6px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 655px;
   height: 28px;
}

