.i1314locationsh2 p a,
.i1315locationsh1 p a,
.i1322westernin p a,
.i1324northernin p a,
.i1316southernin p a,
.i1313locationstext p a,
.i1318centralin p a,
.i1320easternin p a  {
   display: inline;
}

.i1314locationsh2 p,
.i1314locationsh2 li,
.i1315locationsh1 li,
.i1315locationsh1 p  {
   margin: 0px;
}

h1  {
   line-height: 29px;
   font-size: 24px;
}

h2  {
   font-family: Tahoma-Bold, Tahoma, sans-serif;
}

h3  {
   letter-spacing: 0px;
   font-family: Helvetica, Arial, sans-serif;
}

