.address p,
.address li,
.hoffmanlakecampgroundallr p,
.homecontent p,
.openseasonh2 h2,
.facebooktext li,
.facebooktext p,
.homecontent li,
.openseasonh2 p,
.hoffmanlakecampgroundallr li,
.openseasonh2 li  {
   text-indent: 0px;
   padding-left: 0px;
   padding-right: 0px;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: normal;
   font-style: normal;
   line-height: 22px;
   letter-spacing: 0px;
   font-variant: normal;
   text-decoration: none;
   margin: 0px;
}

.openseasonh2 p a,
.homecontent p a,
.address p a,
.facebooktext p a,
.maintitleh1 p a,
.hoffmanlakecampgroundallr p a  {
   display: inline;
}

.maintitleh1 li,
.maintitleh1 p,
.maintitleh1 h1  {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 28px;
   font-weight: normal;
   font-style: normal;
   line-height: 31px;
   letter-spacing: 0px;
   font-variant: normal;
   text-decoration: none;
   color: #660033;
   text-align: left;
   text-indent: 0px;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 8px;
   padding-bottom: 0px;
   margin: 0px;
}

.hoffmanlakecampgroundallr li  {
   font-size: 14px;
   color: #333333;
   padding-bottom: 14px;
   padding-top: 8px;
   text-align: center;
}

.hoffmanlakecampgroundallr p  {
   font-size: 14px;
   color: #333333;
   padding-bottom: 14px;
   padding-top: 8px;
   text-align: center;
}

.openseasonh2 h2  {
   color: #FF9933;
   font-size: 17px;
   padding-bottom: 0px;
   padding-top: 14px;
   text-align: center;
}

.facebooktext li  {
   color: #660033;
   font-size: 17px;
   padding-bottom: 14px;
   padding-top: 8px;
   text-align: left;
}

.openseasonh2 li  {
   padding-bottom: 0px;
   padding-top: 14px;
   text-align: center;
   color: #FF9933;
   font-size: 17px;
}

.facebooktext p  {
   color: #660033;
   font-size: 17px;
   padding-bottom: 14px;
   padding-top: 8px;
   text-align: left;
}

.homecontent li  {
   padding-bottom: 14px;
   padding-top: 8px;
   text-align: left;
   color: #660033;
   font-size: 17px;
}

.openseasonh2 p  {
   padding-bottom: 0px;
   padding-top: 14px;
   text-align: center;
   color: #FF9933;
   font-size: 17px;
}

.homecontent p  {
   padding-bottom: 14px;
   padding-top: 8px;
   text-align: left;
   color: #660033;
   font-size: 17px;
}

.address li  {
   color: #336699;
   font-size: 19px;
   font-family: Helvetica-BoldOblique, Helvetica, Arial, sans-serif;
   padding-bottom: 0px;
   padding-top: 0px;
   text-align: center;
}

.address p  {
   color: #336699;
   font-size: 19px;
   font-family: Helvetica-BoldOblique, Helvetica, Arial, sans-serif;
   padding-bottom: 0px;
   padding-top: 0px;
   text-align: center;
}

body, p,
h3,
h4,
h5,
h6  {
   font-family: Helvetica, Arial, sans-serif;
}

h1  {
   font-family: Helvetica, Arial, sans-serif;
   color: #660033;
   line-height: 31px;
   font-size: 28px;
}

h2  {
   font-family: Helvetica, Arial, sans-serif;
   color: #FF9933;
   line-height: 22px;
   font-size: 17px;
}

