#facebookbutton a.nmh,
#facebookbutton a:hover  {
   background-position: -61px 0%;
}

#icoabutton a:hover,
#icoabutton a.nmh  {
   background-position: -93px 0%;
}

#arvcbutton a:hover,
#arvcbutton a.nmh  {
   background-position: -111px 0%;
}

#rvicbutton a:hover,
#rvicbutton a.nmh  {
   background-position: -91px 0%;
}

.fl li a,
#mainmenu > ul > li > a,
.fl li *  {
   display: inline;
}

#page_content .container_div  {
   background-image: none;
}

#activitiesathoffmanlakeca  {
   margin-top: 0px;
   margin-left: 0px;
   width: 267px;
   z-index: 5;
   top: 756px;
   left: 21px;
   position: absolute;
}

#fishingonhoffmanlakeconte  {
   margin-top: 0px;
   margin-left: 0px;
   width: 266px;
   z-index: 5;
   top: 552px;
   left: 20px;
   position: absolute;
}

#campingandcabinrentalsfor  {
   background-repeat: no-repeat;
   background-image: url(sg_home_media/campingandcabinrentalsfor.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 63px;
   width: 667px;
   z-index: 5;
   top: 96px;
   left: 294px;
   position: absolute;
}

#hoffmanlakecampgroundallr  {
   margin-top: 0px;
   margin-left: 0px;
   width: 979px;
   z-index: 5;
   top: -1px;
   left: 16px;
   position: absolute;
}

#hoffmanlakeaerialcontent  {
   margin-top: 0px;
   margin-left: 0px;
   width: 267px;
   z-index: 5;
   top: 348px;
   left: 19px;
   position: absolute;
}

#hoffmanlakecampgroundg  {
   background-repeat: no-repeat;
   background-image: url(sg_home_media/hoffmanlakecampgroundg.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 81px;
   width: 676px;
   z-index: 6;
   top: 17px;
   left: 285px;
   position: absolute;
}

#campinggearcontent  {
   margin-bottom: 5px;
   margin-top: -1px;
   margin-right: 0px;
   margin-left: 96px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 400px;
}

#footerpanelfollow  {
   margin-bottom: 0px;
   margin-top: 47px;
   margin-right: 0px;
   margin-left: -9px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 1000px;
   min-height: 27px;
}

#facebookbutton a  {
   line-height: 62px;
   font-size: 62px;
   width: 61px;
   height: 62px;
   display: block;
   background-repeat: no-repeat;
   background-image: url(sg_home_media/facebookbutton.gif);
}

#mainmenu ul li a  {
   padding-right: 0.47em;
   padding-left: 0.47em;
   height: 100%;
   line-height: 20px;
   padding-top: 2px;
   padding-bottom: 3px;
}

#facebookbutton  {
   margin-bottom: 0px;
   margin-top: 11px;
   margin-right: 0px;
   margin-left: 33px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 61px;
   height: 62px;
}

#mainmenu ul li  {
   margin-bottom: 0px;
   margin-top: 0px;
   height: 100%;
}

#arvcbutton a  {
   line-height: 54px;
   font-size: 54px;
   width: 111px;
   height: 54px;
   display: block;
   background-repeat: no-repeat;
   background-image: url(sg_home_media/arvcbutton.png);
}

#greensidebar  {
   background-repeat: no-repeat;
   background-image: url(sg_home_media/greensidebar.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 770px;
   width: 12px;
   z-index: 4;
   top: 189px;
   left: 321px;
   position: absolute;
}

#facebooktext  {
   margin-bottom: 0px;
   margin-top: 18px;
   margin-right: 0px;
   margin-left: 17px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 339px;
}

#icoabutton a  {
   line-height: 135px;
   font-size: 135px;
   width: 93px;
   height: 135px;
   display: block;
   background-repeat: no-repeat;
   background-image: url(sg_home_media/icoabutton.png);
}

#openseasonh2  {
   margin-top: 0px;
   margin-left: 0px;
   width: 266px;
   z-index: 5;
   top: 191px;
   left: 21px;
   position: absolute;
}

#rvicbutton a  {
   line-height: 97px;
   font-size: 97px;
   width: 91px;
   height: 97px;
   display: block;
   background-repeat: no-repeat;
   background-image: url(sg_home_media/rvicbutton.png);
}

#page_content  {
   min-height: 1194px;
}

#burgsidebar  {
   background-repeat: no-repeat;
   background-image: url(sg_home_media/burgsidebar.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 770px;
   width: 11px;
   z-index: 4;
   top: 189px;
   left: 335px;
   position: absolute;
}

#mainmenu ul  {
   text-align: left;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 15px;
   line-height: 20px;
   font-variant: small-caps;
   color: #FF9933;
   padding: 0px;
   margin: 0px;
   height: 20px;
}

#bluesidebar  {
   background-repeat: no-repeat;
   background-image: url(sg_home_media/bluesidebar.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 770px;
   width: 21px;
   z-index: 4;
   top: 189px;
   left: 298px;
   position: absolute;
}

#homecontent  {
   margin-bottom: 0px;
   margin-top: 3px;
   margin-right: 0px;
   margin-left: 33px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 560px;
}

#photobkgrnd  {
   background-repeat: no-repeat;
   background-image: url(sg_home_media/photobkgrnd.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 770px;
   width: 282px;
   z-index: 4;
   top: 189px;
   left: 12px;
   position: absolute;
}

#maintitleh1  {
   margin-bottom: 0px;
   margin-top: 5px;
   margin-right: 0px;
   margin-left: 24px;
   position: relative;
   left: 0px;
   top: 0px;
   width: 513px;
}

#rvicbutton  {
   margin-top: 0px;
   margin-left: 0px;
   height: 97px;
   width: 91px;
   z-index: 4;
   top: 1001px;
   left: 119px;
   position: absolute;
}

#pagecolumn  {
   min-height: 914px;
   width: 599px;
   top: 0px;
   left: 0px;
   position: relative;
   margin-left: 357px;
   margin-right: 0px;
   margin-top: 236px;
   margin-bottom: 0px;
}

#arvcbutton  {
   margin-top: 0px;
   margin-left: 0px;
   height: 54px;
   width: 111px;
   z-index: 4;
   top: 1024px;
   left: 236px;
   position: absolute;
}

#icoabutton  {
   margin-top: 0px;
   margin-left: 0px;
   height: 135px;
   width: 93px;
   z-index: 4;
   top: 978px;
   left: 8px;
   position: absolute;
}

#mainmenu  {
   margin-top: 0px;
   margin-left: 0px;
   z-index: 6;
   top: 192px;
   left: 339px;
   position: absolute;
}

#menubar  {
   background-repeat: no-repeat;
   background-image: url(sg_home_media/menubar.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 25px;
   width: 628px;
   z-index: 5;
   top: 189px;
   left: 343px;
   position: absolute;
}

#address  {
   margin-top: 0px;
   margin-left: 0px;
   width: 704px;
   z-index: 4;
   top: 156px;
   left: 282px;
   position: absolute;
}

#family  {
   background-repeat: no-repeat;
   background-image: url(sg_home_media/family.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 188px;
   width: 240px;
   z-index: 6;
   top: 14px;
   left: 41px;
   position: absolute;
}

.page_content_bkg  {
   width: 985px;
   left: 0px;
   top: 0px;
   display: block;
}

.container_div  {
   position: relative;
   width: 985px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-top: 0px;
   margin-left: auto;
}

.spacing_div  {
   min-height: 0px;
   height: 0px;
}

.full_width  {
   position: relative;
   padding: 0px;
   margin: 0px;
   min-width: 985px;
}

*:focus  {
   outline-style: none;
}

.cF93 * a  {
   color: #FF9933;
}

.divider  {
   display: block;
   clear: left;
}

.column  {
   display: inline;
   position: relative;
   float: left;
   margin: 0px;
   padding: 0px;
}

.col_bg  {
   width: 100%;
   top: 0px;
   left: 0px;
   z-index: 1;
   position: absolute;
}

.fl li  {
   float: left;
}

.flow  {
   position: relative;
   z-index: 2;
}

ains  {
   text-decoration: none;
}

html, body  {
   background-position: center top;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-image: url(sg_home_media/browserbackground.gif);
   background-color: #336699;
   height: 100%;
}

body  {
   -webkit-text-size-adjust: none;
   height: 100%;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   margin-bottom: 0px;
   margin-top: 0px;
   margin-right: 0px;
   margin-left: 0px;
}

