@import url('http://fonts.googleapis.com/css?family=Droid+Sans');

/*-----------------------------------------------------------------------------------*/
/*	1.	Global properties (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/
body{
	color: #000;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

address{
	color: #fff;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

header,
nav,
section,
article{display: block;}

figure {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: top;
}

.last{
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.clear{clear: both;}

.aligncenter{text-align: center !important;}
.alignleft{float: left !important;}
.alignright{float: right !important;}
.span6.no-marin-left{margin-left: 0!important;}

/* __________ Buttons __________ */
.btn {
	position:relative;
	margin: 0;
	padding: 11px 18px 10px;
	border:1px solid #303030;
	border-radius: 0;
	box-shadow: none !important;
	text-transform:uppercase;
	font-weight: 400;
	line-height: 20px;
	font-size: 15px;
	color:#303030;
	text-shadow: none;
	background: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.btn:focus,
.btn:hover {
	color:#fff;
	border-color:#303030;
	background-color:#303030;
}

.btn i {padding-left:8px;}


/* colors */
.btn-white {color:#fff; background:none; border-color:#fff;}
.btn-white:hover {color:#9da81d; background:#fff; border-color:#fff;}

.btn-light {border-color:#aeaeae; color:#aeaeae;}
.btn-light:hover {background:#aeaeae; color:#fff; border-color:#aeaeae;}

.btn-active {color:#ffffff; background-color:rgba(51, 51, 51,.7); border-color:#000099;}
.btn-active:hover {color:#9da81d; border-color:#9da81d;}




/* Size */
.btn-lg {padding: 12px 26px; font-size:20px; border-width:2px;}
.btn-sm {padding: 6px 12px; font-size:13px;}
.btn-xs {padding: 2px 6px; font-size:10px;}


/* IE fix */
.ie .btn, .ie .btn-default {filter:none !important;}

/* _________ //Buttons _________ */





/* Headers */
h1,
h2,
h3,
h4,
h5,
h6{
	color: #333;
	font-family: 'Arial', sans-serif;
}

h1{
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 22px;
}
h2{
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 20px;
}
h2 span {
	margin-top:0;
	font-family: 'Rancho', cursive;
    font-weight:400;
    font-size:40px;
	line-height:40px;
	color:#003366;
}

h3{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight:400;
}
h4{
	font-size: 24px;
	margin-bottom: 16px;
}
h5{
    font-size: 14px;
    margin-bottom: 14px;
	color:#fff;
}
h6{
    font-size: 12px;
    margin-bottom:12px;
}

p{
    margin-bottom: 15px;
    line-height: 20px;
}
* p:last-child{margin-bottom: 0 !important;}

.color, .color2{
    font-weight: 400;
    padding: 0 2px;
}

.color{color: #555;}
.color2{color: #0099ff;}


/* Link Styles */
a{
    color: #0099ff;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
a:hover{
    text-decoration: none;
    color: #666666;}

.title a{
    color: #0099ff;
    font-weight: 600;
    font-size: 12px;
}
h4.title a{
    font-size:16px;
    font-weight:400;
    letter-spacing: 0.05em;
}
.title a:hover{color: #666666;}

ul {margin-left: 0;}

/*-----------------------------------------------------------------------------------*/
/*	2.	Header, Navigation & Menus
/*-----------------------------------------------------------------------------------*/
#header{
    position: relative;
    background: #292929 url('../images/bg2.png');
    padding-top: 13px;
    padding-bottom: 9px;
    border-top:2px solid #0099ff;
    border-bottom: 2px solid #e9e9e9;
}

#header1{
    position: relative;
    background: #292929 url('../images/bgmembers2.png');
    padding-top: 13px;
    padding-bottom: 9px;
    border-top:2px solid #0099ff;
    border-bottom: 2px solid #e9e9e9;
}


#header .logo img{
    float: left;
}


/* Main Menu */
#menu {margin-top:12px;}
.res-menu{display: none;}
.res-menu{width: 100%;}
#menu ul {margin-left:9px;}
#menu > ul{
    display: block;
    margin-left:0;
}
#menu > ul > li{
    list-style: none;
    float: left;
    position: relative;
    padding: 12px 20px 12px 0;
    margin-left:18px;
}
#menu > ul > li > a{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
}
#menu > ul a:hover{color: #0099ff;}
#menu .current{color: #0099ff !important;}

#menu ul ul{
    position: absolute;
    width: 131px;
    padding: 0;
    background-color: #f6f6f6;
    border-top:#2d2b2c;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
#menu ul ul li {
    list-style: none;
    padding: 13px 9px;
    position: relative;
    border:1px solid #f6f6f6;
    border-left: 0;
    border-right:0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#menu ul ul li.menu-last{border-bottom: none;}
#menu ul ul a{
    display: block;
    color: #6c6c6c;
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 12px;
}
#menu ul ul a:before {
    content: "•";
    font-family: Arial, sans-serif;
    font-size:15px;
    padding: 0 4px 0 0;
    margin-top:-1px;
    margin-bottom:14px;
    vertical-align: middle;
    float:left;
    color:#6c6c6c;
}
#menu ul ul a:hover, #menu ul ul li:hover > a, #menu ul ul a:hover:before, #menu ul ul li:hover > a:before{color: #fff;}
#menu ul ul li:hover{
    background-color:#0099ff;
    border-color:#2d2b2c;
    padding: 13px 9px;
}
#menu li:hover {visibility: inherit;}
#menu li:hover ul,
#menu li.sfHover ul {
    left: -10px;
    top: 43px;
    z-index: 99;
}
#menu li li:hover ul,
#menu li li.sfHover ul {
    left: 122px;
    top: -1px;
}


/* Search Form */
#search{
    float: right;
    position: relative;
    margin-top:5px;
}
#search,
#search p{margin-bottom: 0;}
#search input[type="text"]{
    color:#454545;
    width: 122px;
    height:26px;
    border: 1px inset rgba(0,0,0,0.1);
    padding:4px 25px 4px 10px ;
    line-height: 23px;
    font:11px 'Droid Sans', sans-serif;
    background-color: #1e1e1e;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
#search input[type="text"]:focus,
#search input[type="text"]:hover{
    width: 190px;
    -webkit-box-shadow: 0px 0px 3px 0px #444;
    box-shadow: 0px 0px 3px 0px #444;
}
#search .search-bt{
    right: 0;
    top: 3px;
    height: 30px;
    width: 30px;
    position: absolute;
    border: none !important;
    cursor: pointer;
    background: url(../images/search-bt.png) no-repeat center center;
}




/* Breadcrumbs */
.breadcrumbs{
    position: relative;
    padding: 30px 0 0 0;
}
.breadcrumbs h1{
    font-size: 22px;
    line-height: 20px;
    margin-bottom:5px;
    text-transform: capitalize !important;
}
.breadcrumbs div{
    letter-spacing: 0.02em;
    font-size: 11px;
    color: #717171;
    display: inline-block;
}
.breadcrumbs a{
    display: inline-block;
}
.breadcrumbs a:hover{}

/* Parallax-Slider tuning */
#sequence-theme,
.fullwidthbanner-container,
.slider-inner {
    margin-top: 20px;
    margin-bottom: 45px;
}
/* /Parallax-Slider tuning */

/*Carousel Arrow */
.carousel-caption,
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5,
.carousel-caption p {
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}
.carousel-arrow a.carousel-control {
	font-size:40px;
	height:inherit;
}
.carousel-arrow a.left {
	left:0;
}
.carousel-arrow a.right {
	right:0;
}


/*-----------------------------------------------------------------------------------*/
/*	3.	Main Content Styles
/*-----------------------------------------------------------------------------------*/
.container{position: relative;}
#container .div-left, #container .div-right{
    width: 1px;
    height: 408px;
    position: absolute;
    background: url(../images/container.png) no-repeat center top;
}
#container .div-left{
    left: -1px;
    top: 0px;
}
#container .div-right{
    right: -1px;
    top: 0px;
}


#container{
    position: relative;
    background-color: #fff;
}
#container .container{padding: 30px;}

#container .container > .row{margin-bottom: 10px;}
#container .row.last{margin-bottom: 30px;}
.row.da-thumbs{margin-bottom: 0 !important;}

.main-highlights a.read-more {
    background-color:#e9e9e9;
    height:25px;
    width:95px;
    color:#666666;
    font-size:11px;
    line-height:25px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
    behavior: url(js/PIE.htc);
}
.main-highlights a.read-more:before {
    content: "»";
    padding: 0 6px 0 7px;
    background-color:#0099ff;
    vertical-align: middle;
    float:left;
    height:25px;
    line-height:23px;
    color:#fff;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
    behavior: url(js/PIE.htc);
}
.main-highlights a.read-more:hover {
    background-color:#9da81c;
    color:#ffffff;
}
.main-highlights a.read-more:hover:before {
    background-color:#e9e9e9;
    color:#666666;
}



/* Video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Flex Slider */
section#slider {
    background: #ebebeb url('../images/slider-bg.png');
    margin-top:0;
}
.flexslider{
    position: relative;
    margin-top: 40px;
    border: 1px solid rgba( 255, 255, 255, 0.5);
}
.slides li{position: relative;}

.slides h3 {
    top: 40px;
    left: 800px;
    position: absolute;
    display: block;
    font-family: 'Arial',sans-serif;
    font-size: 24px;
    font-weight: 400 !important;
    line-height: 24px;
    max-width: 400px;
    text-shadow:4px 4px 4px #000;
    text-align: center;
}
.slides h3 a{
    color: #ffffff;
    font-weight: normal;
    padding: 2px 0;
    behavior: url(js/PIE.htc);
}
.slides span {
    font-size: 40px;
    font-weight:900;
    line-height: 40px;
    color: #ffffff;
	text-shadow:4px 4px 4px #000000;
    display:block;
    margin-bottom: 10px;
}
.slides li a:hover{color: #9da81d !important;}

/*= SLIDER ARROW =*/
.flex-direction-nav{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.flex-direction-nav li{
    float: left;
    margin-left: 1px;
    list-style: none;
}
.flex-direction-nav a{
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    text-indent: -9999px;
}
.flex-direction-nav .flex-prev{background: url(../images/arrow-slider-left.png) no-repeat bottom right;}
.flex-direction-nav .flex-next{background: url(../images/arrow-slider-right.png) no-repeat bottom right;}
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover{opacity: 1;}
.flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter:alpha(opacity=30);
    cursor: default;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flex-pauseplay span {text-transform: capitalize;}
.no-js .slides > li:first-child {display: block;}

.flexslider {
    position: relative;
    zoom: 1;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
    .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}




/* Welcome Slogan */
#welcome{
    text-align: center;
    padding: 0 150px
}
#welcome h1{
    text-transform: uppercase;
    line-height: 22px !important;
    margin-bottom: 25px !important;
    margin-top:0;
    font-weight: 200;
    font-size: 22px;
    color:#000;
}
#welcome p{
    line-height: 22px;
    font-size: 12px;
    color: #747474;
    margin-bottom: 50px;

}

/* Divider */
.title-divider{
    margin-bottom: 11px;
    position: relative;
}

.title-divider h3{
    margin-bottom: 0 !important;
    padding-right: 5px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    z-index: 1000;
    font-size: 15px;
    text-transform: uppercase;
}

.divider-arrow{
    top:7px;
    width: 100%;
    position: absolute;
}



/* Features */
.features > div{text-align: center;}
.features h3{margin: 15px !important;}



/* Bootstrap Carousel */
.carousel {position:relative;}
.carousel-wrapper{
    overflow:hidden;
    padding:2px 2px 0 2px;
    margin-top: -2px;
}
.carousel-wrapper ul{display:none;}
.carousel-wrapper ul li{
    height:100%;
    float:left;
    display:block;
}

.btleft .es-nav{
    position: absolute;
    top: 10px;
    left: -63px;
}

.bttop .es-nav{
    position: absolute;
    top: -50px;
    right: 0px;
}

.es-nav span{
    float: left;
    width: 17px;
    height: 17px;
    display: block;
    top: 1px;
    right: 0;
    text-indent: -9999px;
}
.es-nav .es-nav-prev{
    right: 17px;
    background: url(../images/arrow-left.png) no-repeat right top;
}
.es-nav .es-nav-next{background: url(../images/arrow-right.png) no-repeat left top;}
.es-nav .es-nav-next:hover{background-position: -17px 0px ;}
.es-nav .es-nav-prev:hover{background-position: 0px 0px ;}

/* Highlights */
.span12.main-highlights {margin-left:0;}
.main-highlights {position: relative;}
.main-highlights p{margin-bottom: 10px;}
.span12.main-highlights .highlight-icon {
    float: left;
    width: 45px;
    height: 35px;
    margin-top:3px;
}
.divider-blok{
    border-bottom: 1px dashed #efefef;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.span12.main-highlights .divider-blok{border: 0;}
article.span3 h4, article.span4 h4{
    margin-top: 0;
    font-weight:200;
    margin-bottom:5px;
}
.main-highlights a.read-more {
    background-color:#e9e9e9;
    height:25px;
    width:95px;
    color:#666666;
    font-size:11px;
    line-height:25px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
    behavior: url(js/PIE.htc);
}
.main-highlights a.read-more:before {
    content: "»";
    padding: 0 6px 0 7px;
    background-color:#9da81c;
    vertical-align: middle;
    float:left;
    height:25px;
    line-height:23px;
    color:#fff;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
    behavior: url(js/PIE.htc);
}
.main-highlights a.read-more:hover {
    background-color:#9da81c;
    color:#ffffff;
}
.main-highlights a.read-more:hover:before {
    background-color:#e9e9e9;
    color:#666666;
}

/* Our News */
.our-news{position: relative;}
.our-news p{margin-bottom: 10px;}
.our-news .news-data{
    float: left;
    width: 60px;
    height: 50px;
    color: #b6b6b6;
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
}
.our-news .news-data span{
    display: block;
    font-weight:900;
    font-size: 42px;
    line-height: 42px;
}
.our-news .title{margin-bottom: 5px !important;}

.divider-blok{
    border-bottom: 1px dashed #efefef;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


/* Our Services */
.accordion-group {border:0;}
.accordion .accordion-toggle{
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
    background-color: #99cc33;
    position: relative;
    text-shadow: 1px 1px #999;
}
.accordion .accordion-toggle:hover{
    background-color: #0099ff;
    border-color:#c8cd93;
    text-shadow: 1px 1px #bbb;
}
.accordion .accordion-toggle span{
    position:absolute;
    bottom:0;
    right:0;
    background: url(../images/accordion-corner.png) no-repeat;
    width:12px;
    height:12px;
    display:block;
    z-index:301;
}
.accordion .accordion-inner{
    margin-top: 1px;
    border: 0;
}
.accordion .acc-block{padding: 20px 10px;}
.accordion h4{
    color: #707070;
    text-transform: none;
}

.accordion li{
    padding-left: 15px;
    margin-bottom: 10px;
}
.accordion i.pull-right {margin:3px 0 0 0;}

/* Twitter */
.twitter {margin-top:-5px;}
.twitter  img{
    float: left;
    margin-right: 15px;
    margin-top:5px;
}
.twitter span.tweet_time{
    display: block;
    padding-bottom: 5px;

}
.twitter dl{
    border-bottom: 1px dotted #efefef;
    padding-bottom: 20px;
    margin-bottom: 20px;
    list-style: none;
}
.twitter dl:last-child{border: none;}


/* Testimonials */
.testimonials p{
    line-height: 22px;
    font-size: 12px;
    padding: 0 15px 15px 38px;
    background: #fff url('../images/quotes.png') no-repeat top left;
    border-bottom:1px dotted #efefef;
}
.testimonials h4{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color:#9da81b;
}
.testimonials img{
    float: left;
    margin-right: 15px;
    margin-top:10px;
}
.testimonials small{
    display: block;
    font-size:11px;
}



/*-----------------------------------------------------------------------------------*/
/*	4.	Footer Styles
/*-----------------------------------------------------------------------------------*/
#footer{
    position: relative;
    padding-bottom: 22px !important;
    background: #292929 url('../images/bg2.png');
    padding-top: 22px;
    border-top:5px solid#0099ff;
}

#footer1{
    position: relative;
    padding-bottom: 22px !important;
    background: #292929 url('../images/bgmembers2.png');
    padding-top: 22px;
    border-top:5px solid#9da81d;
}
#footer h3{
    margin-bottom: 10px;
    font-size:15px;
    color: #0099ff;
    font-weight:400;
    text-transform:uppercase;
}
#footer strong {color:#fff;}
#footer li{
    margin-bottom: 10px;
    list-style: none;
}

#footer .ul-col1 li{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted rgba(240,240,240,0.2);
}
#footer .ul-col1 a{
	color: #fff;
	display: block;
}
#footer .ul-col1 a:before{
    padding: 0 4px 0 0;
    vertical-align: middle;
    float:left;
}
#footer .ul-col1 a:hover{
	color: #0099ff;
}

#footer .ul-col2{width: 110.9489051094891%;}
#footer .ul-col2 li{
    float: left;
    width: 40.13157894736842%;
    margin-right: 09.86842105263158%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted rgba(240,240,240,0.2);
}
#footer .ul-col2 a{
	display: block;
	color: #fff;
}
#footer .ul-col2 a:hover{
	color: #0099ff;
}

/* Flickr */
.flickr li{
    list-style: none;
    margin: 0 5px 30px 4px ;
    float: left;
    background-color: #c4c4c4;
    line-height: 0 !important;
}



/* Contact Form */
#footer #contact{margin-bottom: 0px}
#footer #contact .control-group {margin-bottom:5px;}
#footer #contact input[type="text"]{
    color: #fff;
    padding: 3px 5px;
    border: 1px inset rgba(0,0,0, 0.3);
    background-color: transparent ;
    margin-bottom: 1px !important;
    height: 19px;
    border-radius: 3px;
}
#footer #contact span{
    color: #fff;
    font-size: 13px;
    display: inline-block;
    width: 44px;

}
#footer #contact input:focus,
#footer #contact textarea:focus{
    box-shadow: none;
    background-color: rgba(150,150,150, 0.1) !important;}
#footer #contact textarea{
    color: #fff;
    padding: 5px;
    height: 66px;
    overflow: auto;
    margin-bottom: 2px;
    border: 1px inset rgba(0,0,0, 0.3);
    background-color: transparent;
    border-radius: 3px;
}
#footer #contact p{margin-bottom: 5px;}

#footer #contact .btn {
    background-image:none;
    box-shadow: none;
    text-shadow:none;
    background-color: transparent;
    border: 1px solid #343434;
    border-radius: 3px 3px 3px 3px;
    color: #7d7d7d;
    display: inline-block;
    font-size: 13px;
    font-weight:900;
    margin-right: 3px;
    padding: 4px 10px;
}
#footer #contact .btn:hover {
    text-decoration: none;
    background-color:  rgba(150,150,150, 0.1);
    *background-color:  rgba(150,150,150, 0.1);
    /* Buttons in IE7 don't get borders, so darken on hover */
}

#footer .form-horizontal .control-label {width: 25px;}
#footer .form-horizontal .controls {margin-left: 45px;}
#footer .form-horizontal .controls:first-child {*padding-left: 45px;}
#footer .form-horizontal .form-actions {padding-left: 45px;}

/* Footer Menu */
#footer-nav{
    width: 100%;
    background-color: #000;
}
#footer-nav .container{
    padding-top: 0;
    padding-bottom: 0;
}
#footer-nav li{
    list-style: none;
    padding: 15px 0;
    margin-left: 10px;
    float: left;
    font-size: 10px;
}
#footer-nav a{
    font-weight: 400;
    color: #fff;
    font-size:11px;
}
#footer-nav a:hover{color: #323232;}
#footer-nav p{
    font-size: 11px;
    color: #3e3e3e;
    padding-top: 18px;
    letter-spacing: 0.04px;
}

#footer-nav .footer-social{float: right; margin-bottom: 4px; margin-top:3px;}
#footer-nav .footer-social li{
    margin-left: 10px;
    list-style: none;
}
#footer-nav .footer-social img {
    opacity:0.15;
    -moz-opacity: 0.15;
    filter: alpha(opacity = 0.15);
    -webkit-transition: opacity 0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
}
#footer-nav .footer-social img:hover {
    opacity:0.45;
    -moz-opacity: 0.45;
    filter: alpha(opacity = 0.45);
}


/* To Top Button */
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 27px;
    height: 27px;
    border: none;
    text-indent: -999px;
    background: url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
    background: url(../images/ui.totop.png) no-repeat left -27px;
    width: 27px;
    height: 27px;
    display: block;
    overflow: hidden;
    float: left;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
}

#toTop:active, #toTop:focus {
    outline: none;
}
/*-----------------------------------------------------------------------------------*/
/*	5.	Post/Portfolio Content Styles
/*-----------------------------------------------------------------------------------*/
/* Categories */
#filtrable{
    margin-bottom: 30px;
    float: right;
}
#filtrable li{
    float: left;
    margin-left: 10px;
    list-style: none;
}

#filtrable a{
    padding: 4px 10px;
    background-color: transparent;
    border: 1px solid #ececec;
    font-size: 0.833em;
    color: #777;
    display: inline-block;
}

#filtrable a:hover,
#filtrable .current a{
    color: #fff;
    border-color: #9da81d;
    background-color: #cad51d;
}

.boxcaption{
    float:left;
    position: absolute;
    background: url(../images/caption-bg.png) repeat top left;
    cursor:pointer;
    z-index:300;
}

#portfolio > div{
    overflow:hidden;
    position: relative;
}
.portfolio > div {margin-bottom: 25px;}
.box{padding:10px;}

#portfolio .boxcaption{left: 0;}
#portfolio i {
    position:absolute;
    bottom:0;
    right:0;
    background: url(../images/portfolio-corner.png) no-repeat;
    width:12px;
    height:12px;
    display:block;
    z-index:301;
}
.project-name{
    float:left;
    width:100%;
}

.project-name h5{
    color:#fff;
    font-size:12px;
    margin: 0 0 5px 0;
    font-weight: 100;
    text-transform:uppercase;
}
.project-name h5:before{
    content: "•";
    padding: 0 4px 0 0;
    vertical-align: middle;
    float:left;
}
.project-text{
    float:left;
    width:100%;
}
.project-text a{
    text-decoration: underline;
}
.project-text a:hover{
    color:#9da81c;
}
.project-text p{
    line-height:18px;
    color:#fcfcfc;
}

.project-text a{
    float:left;
    font-size:12px;
    color:#fcfcfc;
}

.project-text a.readmore{
    float:right;
}

.project-text a.small{
    float:left;
    font-size:10px;
    margin-top:16px;
    margin-right:5px;
}

/* Pagination */
#navigation ul{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #ececec;
}
#navigation.no_top ul{
    padding-top: 30px;
    margin-top: 0px;
    border-top: 1px solid #ececec;
}
#navigation li {
    list-style: none;
    float: left;
    margin-right: 10px;
}
#navigation a{
    padding: 4px 10px;
    background-color: transparent;
    border: 1px solid #ececec;
    font-size: 10px;
    font-family: 'Droid Serif', serif;
    color: #777;
    display: inline-block;
}
#navigation .current{
    color: #fff;
    border-color: #ffa071;
    background-color: #ffaf88;
}
#navigation a:hover{
    color: #fff;
    border-color: #ffa071;
    background-color: #ffaf88;
}



/* Sidebar */
#sidebar{font-size: 12px;}
#sidebar h4{
    position: relative;
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 10px;
}
#sidebar .title-divider{margin-bottom: 10px !important;}
#sidebar .divider-arrow{top: 10px !important;}

#sidebar li{
    list-style: none;
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px dotted #f2f2f2;
}

#sidebar section{margin-bottom: 50px;}
#sidebar section:last-child{margin-bottom:0px;}

#sidebar .ul-col2{width: 110.9489051094891%;}
#sidebar .ul-col2 li{
    float: left;
    width: 40.13157894736842%;
    margin-right: 09.86842105263158%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #f2f2f2;
}
#sidebar .ul-col2 a{color: #888;}
#sidebar .ul-col2 a:hover{color: #222;}

.main-highlights a.read-more {
    background-color:#e9e9e9;
    height:25px;
    width:95px;
    color:#666666;
    font-size:11px;
    line-height:25px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
    behavior: url(js/PIE.htc);
}
.main-highlights a.read-more:before {
    content: "»";
    padding: 0 6px 0 7px;
    background-color:#99cc33;
    vertical-align: middle;
    float:left;
    height:25px;
    line-height:23px;
    color:#fff;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
    behavior: url(js/PIE.htc);
}
.main-highlights a.read-more:hover {
    background-color:#99cc33;
    color:#ffffff;
}
.main-highlights a.read-more:hover:before {
    background-color:#e9e9e9;
    color:#666666;
}



/*-----------------------------------------------------------------------------------*/
/*	6.	Widgets & Widget Area
/*-----------------------------------------------------------------------------------*/
/* Popular Posts Widget */
.post-widget img{
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.post-widget .img{
    display: block;
    margin-bottom: 0;
    line-height: normal;}

.post-widget a{
    font-size:1em;
    line-height: 18px;
    margin-bottom: 7px;}
.post-widget p{
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 0.02em
}
.post-widget li:last-child{margin-bottom: 0 !important;}


/* Tags Widget */
#tags a{
    color: #888;
    font-size: 12px;
    letter-spacing: 0.02em;
    padding: 2px 5px;
    margin: 0 5px 5px 0;
    display: inline-block;
    border: 1px solid #e8e8e8;
}

#tags a:hover{
    color: #fff;
    border-color: #ffa071;
    background-color: #ffaf88;
}


/* Flickr Widget */
.sidebar-flickr ul{width: 110.9489051094891%;}
.sidebar-flickr li{
    border: 0;
    float: left;
    padding: 0 !important;
    border-bottom: none !important;
    margin-bottom: 03.28947368421053% !important;
    margin-right: 03.28947368421053% !important;
    height: 20.06578947368421% ;
    width: 20.06578947368421% ;
}

/* Latest Projects Widget */
.carousel{margin-bottom: 0;}
.carousel-control{
    border: none;
    position: absolute;
    top: inherit;
    left: inherit;
    bottom: 0;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.carousel-control.post{top: 50%;}
.carousel-control.left.post{left: 0;}

.carousel-control.left{
    right: 17px;
    background: url(../images/arrow-left.png) no-repeat center center;
}
.carousel-control.right{
    right: 0;
    background: url(../images/arrow-right.png) no-repeat center center;
}


/* Comments Widget */
.comment-sidebar li:last-child{margin-bottom: 0 !important;}

/*-----------------------------------------------------------------------------------*/
/*	7.	Blog Styles
/*-----------------------------------------------------------------------------------*/
.blog-post img {
    margin-bottom: 30px;
    display: block;
}
.blog-post .meta{
    padding-bottom: 5px;
    border-bottom: 1px dotted #f2f2f2;
    margin-bottom: 15px;
}
.blog-post .meta li{
    list-style: none;
    font-size:11px;
    margin-right: 10px;
    float: left;
    letter-spacing: 0.03em;
}


.blog-post.style2 img{
    width: 50%;
    float: left;
    margin-right: 25px;
}

.blog-post.style2 .carousel,
.blog-post.style2 .video{
    width: 50%;
    float: left;
    margin-right: 25px;
}
.blog-post.style2 .carousel img{width: 100%;}
.blog-post.style2 p{padding-top: 30px;}
.blog-post.style2 .meta{border: none;}



/* About Us Block */
.aboutus{margin-bottom: 60px;}
.aboutus h3{
    margin-bottom: 0;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
}
.aboutus .color2{font-weight: 400;}

/* Services Block */
.ident-bot-2 {margin-bottom: 17px;}
.figure-1 a.left-image {
    margin-right: 17px;
}
.lightbox-image {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.lightbox-image img { position:relative; z-index:2; }
.img-border-bg {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 1px #E7E7E7 inset;
    display: inline-block;
    padding: 5px;
}
.img-border {
    border-radius: 4px 4px 4px 4px;
    width: 100%;
}
.lightbox-image span {
    background: url("../images/magnify.png") no-repeat scroll 50% 50% transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.service {
    margin:0 5px 10px 0;
}

.service img.alignright{
    margin-left: 25px;
    float: right !important;
}
.service img.s-icon{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}


.service ul{margin-bottom: 20px;}
.service ul a{
    display: block;
    padding:2px 0;
    border-top: 1px dotted #e8e8e8;
    border-bottom: 1px dotted #e8e8e8;
}

.service .bottom-ul a{border-top: none;}

/*-----------------------------------------------------------------------------------*/
/*	8.	Forms
/*-----------------------------------------------------------------------------------*/
#comment-form  p input[type="text"]{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 24px;
    box-shadow: none;
    margin-top: 0;
    height: 35px !important;
    margin-bottom: 0;
    border:1px solid #ececec;
    width: 100%;
}

#comment-form p input[type="text"],
#comment-form textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

#comment-form p input[type="text"]:focus,
#comment-form textarea:focus{
    -webkit-box-shadow: 0px 0px 3px 0px #f0f0f0;
    box-shadow: 0px 0px 3px 0px #f0f0f0;
    background-color: #fcfcfc;
}

#comment-form p textarea{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 160px !important;
    overflow: auto;
    border:1px solid #ececec;
    width: 100%;

}

label.error{
    color: #dc3f35;
    font-size: 13px;
}

#comment-form input.error,
textarea.error {border: 1px solid #ff3f3f;}

#progress{
    margin-top: 15px;
}

#af-form  input[type="text"]{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 24px;
    box-shadow: none;
    margin-top: 0;
    height: 35px !important;
    margin-bottom: 0;
    border:1px solid #ececec;
}

#af-form input[type="text"],
#af-form textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

#af-form input[type="text"]:focus,
#af-form textarea:focus{
    -webkit-box-shadow: 0px 0px 3px 0px #f0f0f0;
    box-shadow: 0px 0px 3px 0px #f0f0f0;
    background-color: #fcfcfc;
}

#af-form textarea{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 160px !important;
    overflow: auto;
    border:1px solid #ececec;
    width: 100%;

}

.af-outer {margin-bottom:15px;}

label.error, label.ferror{
    color: #dc3f35;
    font-size: 13px;
}

#af-form input.error,
textarea.error {border: 1px solid #ff3f3f;}

#progress{
    margin-top: 15px;
}

/*-----------------------------------------------------------------------------------*/
/*	9.	Comments
/*-----------------------------------------------------------------------------------*/
.comments .textarea {
    border: 1px solid #EDEDED;
    margin-bottom: 40px;
    margin-left: 94px;
    padding: 10px 20px;
    position: relative;
}
.comments .avatar{
    position: relative;
    float: left;
    margin-right: -5px;
}
.comments .comments-list{
    list-style: none !important;
}
.comments .comments-list ul{
    margin-left: 30px;
    margin-bottom: 20px;
}
.comments .meta{
    font-size: 11px;
    color: #666666;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px dotted #e2e2e2;
}
.comments ul ul .textarea {margin-top:-20px;}

/*-----------------------------------------------------------------------------------*/
/*	10.	Shortcode Styles
/*-----------------------------------------------------------------------------------*/

.span9,
.span6{position: relative;}

/* Divider */
.divider-arrow, hr, .divider{
    height: 1px;
    clear: both;
}

#container hr{
    margin-top: 10px;
    margin-bottom: 19px;
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: #e9e9e9;
}

#container .blog-single hr{
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Read More */
.read-more{
    display: block;
    color: #9da81c;
    letter-spacing: 0.02em
}
.read-more:hover{color: #666666;}


/* Portfolio */
.portfolio-nav{
    right: 30px;
    top: -24px;
    position: absolute;}

.portfolio-nav li{
    list-style: none;
    line-height: 0;
    margin-right: 1px;
    float: left
}

.portfolio-nav a{
    height: 24px;
    width: 24px;
    display: inline-block;
    opacity: 0.7;
}

.portfolio-nav  a:hover{opacity: 1;}

.portfolio-nav .prev{background: url(../images/arrow-blog-left2.png) no-repeat center center;}
.portfolio-nav .next{background: url(../images/arrow-blog-right2.png) no-repeat center center;}


/* Others */
.dropcap{
    width: 38px;
    height: 38px;
    line-height:38px;
    float: left;
    margin-right:15px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 22px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background-color: #FB8B54;
}


blockquote{
    margin: 20px 0;
    padding: 10px  10px 10px 30px;
    border-left: 3px dotted #9da81b;
}

blockquote p{
    color: #999;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.02em;
    font-family: 'Georgia', serif;
}



.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*-----------------------------------------------------------------------------------*/
/*	11.	Responsive Fixes
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-width: 980px)  and (max-width: 1199px){

    .btleft .es-nav {left: -53px;}
    #latest-work .carousel-wrapper li{width: 340px !important;}
    input, textarea {width: 90%;}
    .figure-1 a.left-image {margin-right:5px;}
    .service.img-border-bg {margin-top:50px;}

}




@media (min-width: 768px) and (max-width: 979px) {

    .slides h3 {
        top: 20px;
        left: 20px;
        font-size: 20px;
        line-height: 20px;
        max-width: 300px;
    }
    .slides span {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    #welcome{
        padding: 0;
    }


    .btleft .es-nav {left: -43px;}
    #latest-work .carousel-wrapper li{width: 252px !important;}

    .flickr li{width: 68px}

    .span3 .project-text p {
        display:none;
    }


    #sidebar .ul-col2 li {
        float: none;
        margin-right: 0;
        width: 90%;
    }


    #footer #contact input[type="text"], #footer #contact textarea{width: 90%}
    #footer [class^="icon-"]{display: none;}

    .service.img-border-bg {margin-top:50px;}
    .ident-bot-2 {margin-bottom:0;}
    .figure-3 {display:none;}
}



@media (max-width: 767px){


    body{padding:0 }
    .container{padding: 0 20px;}
    #footer .ul-col2 {
        width: 100%;
    }

    #menu ul,
    .slides h3{display: none;}


    .res-menu{display: block;}
    .logo{text-align:center; ;}

    .container > .row [class*="span"]{margin-bottom: 30px;}
    .container > .row > [class*="span"]:last-child{margin-bottom: 0 !important;}


    #welcome{
        padding: 0;
    }


    .btleft .es-nav{
        bottom: inherit;
        right: 0;
        left: inherit;
        top: -38px;
    }
    #latest-work .carousel-wrapper li{max-width: 15em !important;}
    .latest-work article:nth-last-child(-n+4) {
        margin-bottom: 30px !important;
    }

    #footer-nav .span4{
        margin-bottom: 15px;
        text-align:center;
    }


    .breadcrumbs {
        padding: 40px 20px;
        position: relative;
    }

    .project-text p {
        display:block;
    }

    #sidebar section:last-child {margin-bottom: 0;}
    #sidebar .ul-col2{width: 100%}
    #sidebar .ul-col2 li {
        margin-right: 0;
        width: 50%;
    }

    .alignleft,
    .alignright{float: none !important;}

    #footer .submit-div {width:270px;}
    figure {display:inline-block; margin-right:15px;}

}


@media (max-width: 480px){
    #footer .form-horizontal .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }
    #footer .form-horizontal .controls {
        margin-left: 0;
    }
    #footer .form-horizontal .control-list {
        padding-top: 0;
    }
    #footer .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer .submit-div {width:225px;}
}

/**/

@media (max-width: 980px) {
    /*Image hover*/
    .da-thumbs li article em {
        display:none !important;
    }
}

@media (max-width: 900px) {
    /*Slider Sequence*/
    #sequence-theme .info {
        top:80px !important;
        width:60% !important;
        margin-right:50px;
    }

    /*Slider Parallax*/
    .da-slide .da-img {
        display:none;
    }
}

@media (max-width: 450px) {
    /*Slider Sequence*/
    #sequence-theme .info {
        top:70px !important;
        width:70% !important;
        margin-right:25px;
    }
    #sequence-theme h2 {
        font-size:30px !important;
    }
    #sequence-theme .info p {
        font-size:18px !important;
    }

    /*Slider Parallax*/
    .da-slide p {
        display:none;
    }
}

/***/
