a:link{
color:#FFDE28;
}
a:visited{
color:#B17500;
}
a:active{
color:#DEFF28;
}
body{
color:#5A3A00;
background-color:#C0BA8D;
}
h1{
color:#5A3A00;
}
h2, marquee{
color:#5A3A00;
}
h3{
color:#5A3A00;
}
h4{
color:#5A3A00;
}
h5{
color:#5A3A00;
}
h6{
color:#5A3A00;
}
label, .MSTHEME-LABEL{
color:#5A3A00;
}
FIELDSET{
border-color:#EEEBD8;
color:#FFFFFF;
}
LEGEND{
color:#5A3A00;
}
SELECT{
border-color:#808080;
color:#000000;
}
TABLE{
table-border-color-light:#E3DDAF;
table-border-color-dark:#6F6A1E;
border-color:#6F6A1E;
color:#5A3A00;
}
CAPTION{
color:#5A3A00;
}
TH{
color:#5A3A00;
}
HR{
color:#6F6A1E;
}
TD{
border-color:#6F6A1E;
}
