a:link{
color:#427800;
}
a:visited{
color:#AD5C00;
}
a:active{
color:#776800;
}
body{
color:#000000;
background-color:#B9B280;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#EEEBD8;
color:#FFFFFF;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#808080;
color:#000000;
}
TABLE{
table-border-color-light:#6F6A1E;
table-border-color-dark:#6F6A1E;
border-color:#6F6A1E;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#6F6A1E;
}
TD{
border-color:#6F6A1E;
}
