.mstheme{
nav-banner-image:url(banner_papyrus.gif);
separator-image:url(rule_papyrus.gif);
list-image-1:url(bull1_papyrus.gif);
list-image-2:url(bull2_papyrus.gif);
list-image-3:url(bull3_papyrus.gif);
navbutton-horiz-normal:url(nav_hor_papyrus.gif);
navbutton-horiz-pushed:url(nav_hor_down_papyrus.gif);
navbutton-vert-pushed:url(nav_vert_down_papyrus.gif);
navbutton-vert-normal:url(nav_vert_papyrus.gif);
navbutton-home-normal:url(nav_home_papyrus.gif);
navbutton-up-normal:url(nav_up_papyrus.gif);
navbutton-prev-normal:url(nav_prev_papyrus.gif);
navbutton-next-normal:url(nav_next_papyrus.gif);
}
UL{
list-style-image:url('bull1_papyrus.gif');
}
UL UL{
list-style-image:url('bull2_papyrus.gif');
}
UL UL UL{
list-style-image:url('bull3_papyrus.gif');
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#000000;
}