.mstheme{
nav-banner-image:url(banner_papyrus.gif);
separator-image:url(rule_papyrus.gif);
list-image-1:url(bull1_papyrus.gif);
list-image-2:url(bull2_papyrus.gif);
list-image-3:url(bull3_papyrus.gif);
navbutton-horiz-normal:url(nav_hor_papyrus.gif);
navbutton-horiz-hovered:url(nav_hor_over_papyrus.gif);
navbutton-horiz-pushed:url(nav_hor_down_papyrus.gif);
navbutton-vert-normal:url(nav_vert_papyrus.gif);
navbutton-vert-hovered:url(nav_vert_over_papyrus.gif);
navbutton-vert-pushed:url(nav_vert_down_papyrus.gif);
navbutton-home-normal:url(nav_home_papyrus.gif);
navbutton-home-hovered:url(nav_home_over_papyrus.gif);
navbutton-up-normal:url(nav_up_papyrus.gif);
navbutton-up-hovered:url(nav_up_over_papyrus.gif);
navbutton-prev-normal:url(nav_prev_papyrus.gif);
navbutton-prev-hovered:url(nav_prev_over_papyrus.gif);
navbutton-next-normal:url(nav_next_papyrus.gif);
navbutton-next-hovered:url(nav_next_over_papyrus.gif);
navbutton-next-pushed:url(nav_next_down_papyrus.gif);
}
UL{
list-style-image:url('bull1_papyrus.gif');
}
UL UL{
list-style-image:url('bull2_papyrus.gif');
}
UL UL UL{
list-style-image:url('bull3_papyrus.gif');
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#000000;
}
a:link{
color:#427800;
}
a:visited{
color:#AD5C00;
}
a:active{
color:#776800;
}
body{
color:#000000;
background-color:#B9B280;
}
h1{
color:#000000;
}
h2, marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
label, .MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#EEEBD8;
color:#FFFFFF;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#808080;
color:#000000;
}
TABLE{
table-border-color-light:#6F6A1E;
table-border-color-dark:#6F6A1E;
border-color:#6F6A1E;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#6F6A1E;
}
TD{
border-color:#6F6A1E;
}
.mstheme{
navbutton-background-color:#B9B280;
top-bar-button:url(top_bar_button_papyrus.gif);
}
.mstheme-topbar-font{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
}
body{
font-family:Verdana,Arial,Helvetica,sans-serif;
background-image:url('background_papyrus.gif');
}
h1{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:bold;
font-style:normal;
}
h2{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
font-style:normal;
}
h3{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
font-style:normal;
}
h4{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
font-style:normal;
}
h5{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
font-style:normal;
}
h6{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
font-style:normal;
}
IL{
list-style-image:url('bull2_papyrus.gif');
}
BUTTON{
border-style:solid;
border-width:1pt;
font-family:Arial,Helvetica,sans-serif;
font-style:normal;
}
label, .MSTHEME-LABEL{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
}
TEXTAREA{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal
}
FIELDSET{
border-style:solid;
border-width:1pt;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
}
LEGEND{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
}
SELECT{
border-style:solid;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal
}
TABLE{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
}
CAPTION{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:normal;
}
TH{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-style:bold;
}
MARQUEE{
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-main{
border-color:#DFC541;
}
.ms-bannerframe, .ms-GRHeaderBackground, .ms-storMeFree{
background-color:#78744D;
background-repeat:repeat-x
}
.ms-banner{
color:#DFC541;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-banner a:link{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
font-weight:normal;
text-decoration:none;
}
.ms-banner a:visited{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
font-weight:normal;
text-decoration:none;
}
.ms-nav td{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
color:#000000;
}
.ms-navframe{
border-color:#B4AD7E;
}
.ms-nav a{
text-decoration:none;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
color:#427800;
}
.ms-nav a:hover{
text-decoration:underline;
color:#DEFF28;
}
.ms-nav a:visited{
color:#427800;
}
.ms-viewselect a:link{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
}
.ms-titlearea{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
}
.ms-pagetitle{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:bold;
}
.ms-pagetitle a{
text-decoration:underline;
color:#427800;
}
.ms-pagetitle a:hover{
text-decoration:underline;
color:#DEFF28;
}
.ms-announcementtitle{
font-weight:bold;
}
.ms-formlabel{
font-family:verdana;
font-size:.7em;
font-weight:normal;
color:#323232;
}
.ms-formbody{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
}
.ms-formdescription{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#323232;
}
.ms-selected{
background-color:#D4CFAD;
color:#000000;
}
.ms-selected SPAN{
color:#D4CFAD;
}
.ms-filedialog TD{
height:16px;
}
.ms-descriptiontext{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-descriptiontext a{
color:#427800;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-separator{
color:#000000;
}
.ms-authoringcontrols{
background-color:#B4AD7E;
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
}
.ms-alternating{
background-color:#B4AD7E;
}
.ms-back{
vertical-align:top;
padding-left:4;
padding-right:4;
padding-top:2;
padding-bottom:4;
background-color:#B4AD7E;
}
.ms-sectionheader{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:bold;
}
.ms-sectionline{
background-color:#6F6A1E;
}
.ms-partline{
background-color:#6F6A1E;
}
.ms-propertysheet{
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-propertysheet th{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
font-weight:bold;
}
.ms-propertysheet a{
text-decoration:none;
color:#427800;
}
.ms-propertysheet a:hover{
text-decoration:underline;
color:#DEFF28;
}
.ms-propertysheet a:visited{
text-decoration:none;
color:#AD5C00;
}
.ms-propertysheet a:visited:hover{
text-decoration:underline;
}
.ms-itemheader a{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:bold;
color:#000000;
text-decoration:none;
}
.ms-itemheader a:hover{
text-decoration:underline;
color:#000000;
}
.ms-itemheader a:visited{
text-decoration:none;
color:#000000;
}
.ms-itemheader a:visited:hover{
text-decoration:underline;
}
.ms-vh{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
}
.ms-vb{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
height:18px;
vertical-align:top;
}
.ms-homepagetitle{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
font-weight:bold;
text-decoration:none;
}
:hover.ms-homepagetitle{
text-decoration:underline;
color:#427800;
}
.ms-addnew{
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
text-decoration:none;
}
.ms-cal{
border-collapse:collapse;
table-layout:fixed;
font-family:Verdana,Arial,Helvetica,sans-serif;
cursor:default;
}
.ms-caltop{
border-top:1px solid #6F6A1E;
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
vertical-align:top;
width:14%;
height:30px;
}
.ms-calhead{
border:none;
text-align:center;
background-color:#000000;
color:#B9B280;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding:2px;
}
.ms-caldow{
border-top:1px solid #6F6A1E;
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
vertical-align:top;
text-align:center;
font-weight:bold;
color:#000000;
height:20px;
}
.ms-calmid{
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
height:20px;
}
.ms-calspacer{
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
height:4px;
}
.ms-calbot{
border-top:none;
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
border-bottom:1px solid #6F6A1E;
height:2px;
}
.ms-appt a{
color:#427800;
}
.ms-appt a:hover{
color:#DEFF28;
}
.ms-appt{
border:2px solid #6F6A1E;
text-align:center;
vertical-align:middle;
height:18px;
overflow:hidden;
text-overflow:ellipsis;
background-color:#D4CFAD;
color:#000000;
}
.ms-caldowdown{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:bold;
color:#000000;
text-align:center;
vertical-align:middle;
}
.ms-caldown{
color:#000000;
vertical-align:top;
}
.ms-datepickeriframe{
position:absolute;
display:none;
background:#FFFFFF;
}
.ms-datepicker{
font-family:Verdana,Arial,Helvetica,sans-serif;
background-color:#B9B280;
color:#000000;
border:2px outset activeborder;
cursor:default
}
.ms-dpdow{
border:none;
vertical-align:top;
text-align:center;
font-weight:bold;
color:#000000;
border-bottom:1px solid #6F6A1E;
}
.ms-dpday{
border:none;
text-align:center;
cursor:hand;
}
.ms-dpselectedday{
border:none;
background-color:#B4AD7E;
text-align:center;
cursor:hand;
}
.ms-dpnonmonth{
color:#666666;
border:none;
text-align:center;
cursor:hand;
}
.ms-dphead{
border:none;
text-align:center;
font-weight:bold;
background-color:#8F8D6F;
color:#000000;
}
.ms-dpfoot{
text-align:center;
text-align:center;
font-style:italic;
border-top:1px solid;
border-left:none;
border-bottom:none;
border-right:none;
height:24px;
}
IMG.ms-button{
cursor:hand;
}
.ms-toolbar, .ms-toolbar a:visited{
font-family:Verdana,Arial,Helvetica,sans-serif;
text-decoration:none;
color:#427800;
}
.ms-stylebody{
font-family:verdana;
font-size:8pt;
}
.ms-styleheader a:link, .ms-stylebody a:link{
color:#427800;
text-decoration:none;
}
.ms-styleheader a:visited, .ms-stylebody a:visited{
text-decoration:none
}
.ms-styleheader a:hover, .ms-stylebody a:hover{
color:#ff3300;
text-decoration:underline;
}
table.ms-toolbar{
background-image:url('toolgrad_papyrus.gif');
border:1px solid #666666;
background-color:#DFC541
}
.ms-gridT1{
font-family:Verdana,Arial,Helvetica,sans-serif;
text-align:center;
color:#666666;
}
select{
font-family:Verdana,Arial,Helvetica,sans-serif;
}
hr{
color:#6F6A1E;
height:2px;
}
.ms-formdescription A{
color:#427800;
text-decoration:none;
}
.ms-formtable .ms-formbody{
line-height:1.3em;
}
.ms-radiotext{
cursor:default;
text-align:left;
font-family:verdana;
font-size:10pt;
height:19px;
}
.ms-gridtext{
cursor:default;
font-family:Verdana,Arial,Helvetica,sans-serif;
height:19px;
}
.ms-formbody{
font-family:Verdana,Arial,Helvetica,sans-serif;
vertical-align:top;
}
table.ms-form th{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
vertical-align:top;
}
table.ms-form td{
width:100%;
vertical-align:top;
}
.ms-formrecurrence{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
vertical-align:top;
}
.ms-long{
font-family:Verdana,Arial,Helvetica,sans-serif;
width:386px;
}
.ms-banner a:link{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
.ms-banner a:visited{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
.ms-nav td, .ms-nav .ms-SPZoneLabel, .ms-input{
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-nav th{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
color:#000000;
}
.ms-navheader a, .ms-navheader a:link, .ms-navheader a:visited{
font-weight:bold;
}
.ms-navframe{
background:#918C5F;
}
.ms-navline{
border-bottom:1px solid #827D5B;
}
.ms-nav .ms-navwatermark{
color:#9F975F;
}
.ms-selectednav{
border:1px solid #000000;
background:#B9B280;
padding-top:1px;
padding-bottom:2px;
}
.ms-unselectednav{
border:1px solid #918C5F;
padding-top:1px;
padding-bottom:2px;
}
.ms-verticaldots{
border-right:1px solid #6F6A1E;
border-left:none;
}
.ms-nav a:link{
}
TD.ms-titleareaframe{
color:#000000;
border-color:#DFC541;
}
TABLE.ms-titleareaframe{
border-left:0px;
}
Div.ms-titleareaframe{
border-top:4px solid #DFC541;
}
.ms-searchform{
background-color: #DFC541;
}
.ms-searchcorner{
background-color:#DFC541;
background-image:none;
}
.ms-titlearealine{
background-color:#6F6A1E;
}
.ms-bodyareaframe{
border-color:#DFC541;
}
.ms-pagetitle{
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-pagetitle a{
text-decoration:none;
}
.ms-pagetitle a:hover{
text-decoration:underline;
}
.ms-pagecaption{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-selectedtitle{
background-color:#B4AD7E;
border:1px solid #EEEBD8;
padding-top:1px;
padding-bottom:2px;
}
.ms-unselectedtitle{
margin:1px;
padding-top:1px;
padding-bottom:2px;
}
.ms-menuimagecell{
background-color:#EEEBD8;
cursor:hand;
}
.ms-filedialog td{
height:16px;
}
.ms-alerttext{
color:#DB6751;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-sectionheader a{
color:#000000;
text-decoration:none;
}
.ms-sectionheader a:hover{
color:#000000;
text-decoration:none;
}
.ms-sectionheader a:visited{
color:#000000;
text-decoration:none;
}
.ms-discussiontitle{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
font-weight:bold;
}
.ms-vh2{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
vertical-align:top;
}
.ms-vh-icon{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
vertical-align:top;
width:22px;
}
.ms-vh-icon-empty{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
vertical-align:top;
width:0px;
}
.ms-vh-left{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
}
.ms-vh-left-icon{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
width:22px;
}
.ms-vh-left-icon-empty{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
width:0px;
}
.ms-vh-right{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
}
.ms-vh-right-icon{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
width:22px;
}
.ms-vh-right-icon-empty{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
font-weight:normal;
width:0px;
}
.ms-vh a, .ms-vh a:visited, .ms-vh2 a, .ms-vh2 a:visited, .ms-vh-left a, .ms-vh-right a{
color:#427800;
text-decoration:none;
}
.ms-vh a:hover, .ms-vh2 a:hover{
text-decoration:underline;
}
.ms-vhImage{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#424242;
text-decoration:none;
font-weight:normal;
vertical-align:top;
width:18pt;
}
.ms-gb{
font-family:Verdana,Arial,Helvetica,sans-serif;
height:18px;
color:#000000;
background-color:#B4AD7E;
font-weight:bold;
}
.ms-styleheader{
font-family:verdana;
font-size:0.68em;
background-color:#B4AD7E;
}
.ms-vb, .ms-vb2, .ms-GRFont, .ms-vb-user{
font-family:Verdana,Arial,Helvetica,sans-serif;
vertical-align:top;
}
.ms-vb a, .ms-vb2 a, .ms-GRStatusText a, .ms-vb-user a{
color:#427800;
text-decoration:none;
}
.ms-vb a:hover, .ms-vb2 a:hover, .ms-vb-user a:hover{
color:#DEFF28;
text-decoration:underline;
}
.ms-vb a:visited, .ms-vb2 a:visited, .ms-GRStatusText a:visited, .ms-vb-user a:visited{
color:#427800;
text-decoration:none;
}
.ms-vb a:visited:hover, .ms-vb2 a:visited:hover, .ms-vb-user a:visited:hover{
color:#DEFF28;
text-decoration:underline;
}
.ms-vb2, .ms-vb-title, .ms-vb-icon, .ms-vb-user{
border-top:1px solid #DFC541;
}
.ms-vb-icon{
vertical-align:top;
width:16px;
padding-top:2px;
padding-bottom:0px;
}
.ms-vb2{
padding-top:3px;
padding-bottom:0px;
}
.ms-addnew{
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
text-decoration:none;
}
.ms-error{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
color:#db6751;
}
.ms-vcal{
border-collapse:separate;
table-layout:fixed;
font-family:Verdana,Arial,Helvetica,sans-serif;
cursor:default;
}
.ms-Dcal{
border-collapse:collapse;
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
table-layout:fixed;
font-family:Verdana,Arial,Helvetica,sans-serif;
cursor:default;
}
.ms-calDmidHour{
border-color:#6F6A1E;
height:20px;
}
.ms-calDmidHalfHour{
border-color:#6F6A1E;
height:20px;
}
.ms-calDmidQuarterHour{
border:0px none;
height:20px;
}
.ms-CalSpacer{
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
height:4px;
}
.ms-CalDSpacer{
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
height:4px;
}
.ms-CalVSpacer{
background-color:#6F6A1E;
width:0px;
}
.ms-CalAllDay{
text-align:center;
vertical-align:top;
width:10%;
height:12px;
}
.ms-firstCalHour{
vertical-align:top;
width:10%;
height:12px;
}
.ms-calHour{
border-top:1px solid #6F6A1E;
vertical-align:top;
width:10%;
height:12px;
}
.ms-calHalfHour{
border-top:1px solid #827D5B;
vertical-align:top;
height:12px;
}
.ms-calQuarterHour{
border-top:0px none;
vertical-align:top;
height:12px;
}
.ms-Dappt{
border:2px solid #6F6A1E;
text-align:center;
vertical-align:middle;
height:18px;
overflow:hidden;
background-color:#D4CFAD;
color:#000000;
}
.ms-Vappt{
border-top:1px solid #B9B280;
border-left:2px solid #B9B280;
border-bottom:3px solid #B9B280;
border-right:2px solid #B9B280;
text-align:center;
padding-left:3px;
padding-right:3px;
vertical-align:middle;
height:12px;
overflow:hidden;
text-overflow:ellipsis;
background-color:#9F975F;
color:#000000;
}
.ms-Vapptsingle a, .ms-Vappt a{
text-decoration:none;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
color:#427800;
overflow:hidden;
text-overflow:ellipsis;
}
.ms-Vappt a:link{
}
.ms-Vappt a:hover{
text-decoration:underline;
color:#000000;
}
.ms-Vevt{
padding:0px;
text-align:center;
vertical-align:top;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
height:12px;
overflow:hidden;
text-overflow:ellipsis;
color:#000000;
}
.ms-Vevt a{
text-decoration:none;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
color:#000000;
}
.ms-Vevt a:link{
}
.ms-Vevt a:hover{
text-decoration:underline;
color:#000000;
}
.ms-Vevt a:visited{
color:#DFD664;
}
.ms-apptsingle{
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
height:18px;
vertical-align:middle;
overflow:hidden;
text-overflow:ellipsis;
color:#000000;
}
.ms-Dapptsingle{
border-left:1px solid #6F6A1E;
border-right:1px solid #6F6A1E;
height:18px;
vertical-align:middle;
overflow:hidden;
color:#000000;
}
.ms-Vapptsingle{
border:1px solid #6F6A1E;
text-align:center;
vertical-align:middle;
overflow:hidden;
text-overflow:ellipsis;
color:#000000;
background-color:#9F975F;
}
.ms-Vapptsingle a:link{
}
.ms-Vapptsingle a:hover{
text-decoration:underline;
}
.ms-Vapptsingle a:visited{
}
.ms-dpnextprev{
border:none;
text-align:center;
font-weight:bold;
background-color:#8F8D6F;
color:#000000;
cursor:hand;
}
.ms-discussionseparator{
color:#827D5B;
height:1px;
}
.ms-stylelabel{
font-family:verdana;
font-size:8pt;
color:#427800;
}
.ms-stylebox{
font-family:verdana;
border:1px solid #827D5B;
text-align:left
}
img.thumbnail{
border:3px solid #8F8D6F;
}
tr.ms-imglibselectedrow{
background-color:#B4AD7E;
}
table.ms-imglibtitletable{
border:0px solid #DFC541;
}
.ms-imglibthumbnail{
background-color:#B4AD7E;
border:solid #8F8D6F 0px;
}
span.thumbnail{
padding:16 10;
position:relative;
width:5px;
}
span.userdata{
behavior:url(#default#userData);
display:none;
}
.ms-imglibmenuhead{
cursor:move;
}
.ms-imglibmenu{
background-color:#B4AD7E;
cursor:hand;
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
}
.ms-imglibmenutext{
cursor:move;
font-weight:bold;
color:#427800;
}
.ms-imglibmenuarea{
background-color:#B4AD7E;
}
img.ms-imglibpreviewarea{
border:solid #B4AD7E 3px;
margin-top:3px;
}
a.ms-imglibPreviewTitle{
overflow:hidden;
text-overflow:ellipsis;
width:130;
}
table.ms-imglibPreviewTable{
display:none;
}
.UserShadedRegion{
font-family:Verdana,Arial,Helvetica,sans-serif;
background-color:#B4AD7E;
}
.UserCaption{
font-family:Verdana,Arial,Helvetica,sans-serif;
background-color:#B4AD7E;
}
.UserConfiguration{
font-family:Verdana,Arial,Helvetica,sans-serif;
background-color:#B4AD7E;
}
.UserDottedLine{
margin-bottom:2px;
height:1px;
overflow:hidden;
background-color:transparent;
background-image:url('dot_papyrus.gif');
background-repeat:repeat-x
}
.UserButton, .UserInput, .UserSelect{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
}
.UserNotification{
font-family:Verdana,Arial,Helvetica,sans-serif;
padding:4px;
COLOR:#666666;
}
.UserToolBarTextArea{
padding-bottom:5px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.UserToolbarTextArea A:link{
COLOR:#427800;
TEXT-DECORATION:none;
}
.UserToolbarTextArea A:visited{
COLOR:#427800;
TEXT-DECORATION:none;
}
.UserToolbarTextArea A:hover{
COLOR:#DEFF28;
TEXT-DECORATION:underline;
}
.UserToolbarDisabledLink{
COLOR:#78744D;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding:4px;
}
.UserToolbarImage{
border:medium none;
cursor:hand;
background-color:#666666;
text-align:center;
}
.UserToolBarImageArea{
padding-bottom:5px;
font-weight:normal;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.UserToolbarSelectedImage{
border-right:medium none;
border-top:medium none;
border-left:medium none;
border-bottom:#000000 1px solid;
font-weight:bold;
vertical-align:top;
text-align:center;
}
.UserGenericHeader{
font-weight:bold;
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.UserGeneric{
padding:8px 5px 7px 5px;
}
.UserGenericText{
color:#000000;
}
.UserGenericBody{
padding:5px 0px 0px 17px;
}
.UserSectionTitle{
font-weight:bold;
width:100%;
margin-bottom:5px;
padding-bottom:2px;
border-bottom:solid 1px #8F8D6F;
color:#000000;
}
.UserSectionHead{
width:100%;
padding:0px 0px 3px 0px;
color:#000000;
}
.UserSectionFooter{
color:#000000;
border-top:solid 1px #8F8D6F;
}
.UserSectionBody{
width:100%;
padding:0px 0px 0px 7px;
}
.UserControlGroup{
padding-bottom:10px;
padding-top:2px;
}
.UserFooter{
width:100%;
padding:10px 7px 7px 7px;
}
.UserCommandArea{
padding-top:7px;
}
.UserToolbar{
background-image:url('toolgrad_papyrus.gif');
border:1px solid #666666;
background-repeat:repeat-x;
background-color:transparent
}
.UserCellSelected{
font-family:Verdana,Arial,Helvetica,sans-serif;
padding:1px 4px 2px 4px;
background-color:#B9B280;
border:solid 1px #E9D772;
color:#000000;
}
.UserCell{
font-family:Verdana,Arial,Helvetica,sans-serif;
padding:2px 5px 3px 5px;
color:#000000;
}
.UserGenericBulletItem{
padding-bottom:2px;
}
.ms-ToolPaneFrame{
padding:0px;
background-color:#B4AD7E;
}
.ms-ToolPaneBody{
padding-bottom:2px;
padding-top:2px;
}
.ms-ToolPaneHeader{
background-color:#8F8D6F;
border-style:none;
}
.ms-ToolPaneBorder{
border-right:#9C9976 1px solid;
border-top:solid none;
border-bottom:solid none;
border-left:#9C9976 1px solid;
}
.ms-ToolPaneClose{
background-color:#8F8D6F;
}
.ms-ToolPaneTitle{
color:#000000;
font-weight:bold;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding-top:3px;
padding-bottom:3px;
background-color:#8F8D6F;
}
.ms-ToolPaneFooter{
background-color:#8F8D6F;
padding:5px;
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
}
.ms-ToolPaneError{
color:#FFFF00;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding:2px;
}
.ms-ToolPaneInfo{
padding-right:5px;
padding-top:5px;
padding-bottom:0px;
padding-left:5px;
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
background-color:#9C9976;
}
.ms-ToolPartSpacing{
padding-top:8px;
}
.ms-TPBorder{
border:none;
}
.ms-TPHeader{
background-color:#827D5B;
}
.ms-TPTitle{
color:#000000;
font-weight:bold;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding-top:2px;
padding-bottom:2px;
}
.ms-TPBody{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-TPBody a:link, .ms-TPBody a:visited, .ms-TPBody a:hover{
color:#427800;
text-decoration:none;
cursor:hand;
}
.ms-TPCommands{
}
.ms-TPInput{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-CategoryTitle{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-weight:bold;
text-decoration:none;
}
.ms-PropGridBuilderButton{
border:solid 1px #EEEBD8;
width:16px;
display:none;
background-color:#8F8D6F;
}
.ms-SPZone{
border:#666666 1px solid;
padding:5px;
}
.ms-SPZoneSelected{
border:#DFC541 1px solid;
padding:5px;
}
.ms-SPZoneIBar{
border:#DFC541 3px solid;
}
.ms-SPZoneLabel{
color:#666666;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding:0;
}
.ms-SPError{
color:#DB6751;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding-right:2px;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
border-bottom:#9C9976 2px solid;
}
.ms-SPZoneCaption{
color:#666666;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-WPDesign{
background-color:#9C9976;
}
.ms-WPMenu{
background-color:#9C9976;
}
.ms-WPTitle{
font-weight:bold;
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
padding-top:2px;
padding-bottom:2px;
}
.ms-WPTitle A:link, .ms-WPTitle A:visited{
color:#000000;
text-decoration:none;
cursor:hand;
}
.ms-WPTitle A:hover{
color:#DEFF28;
text-decoration:underline;
cursor:hand;
}
.ms-WPSelected{
border:#B03624 3px dashed;
}
.ms-WPBody{
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-WPBody table, .ms-TPBody table{
}
.ms-WPBody a:link, .ms-WPBody a:visited{
color:#427800;
text-decoration:none;
}
.ms-WPBody A:hover{
color:#DEFF28;
text-decoration:underline;
}
.ms-WPBody th, .ms-TPBody th{
font-weight:bold;
}
.ms-WPBody td{
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-WPBody h1, .ms-TPBody h1{
font-weight:bold;
}
.ms-WPBody h2, .ms-TPBody h2{
font-weight:bold;
}
.ms-WPBody h3, .ms-TPBody h3{
font-weight:bold;
}
.ms-WPBody h4, .ms-TPBody h4{
font-weight:bold;
}
.ms-WPBody h5, .ms-TPBody h5{
font-weight:bold;
}
.ms-WPBody h6, .ms-TPBody h6{
font-weight:bold;
}
.ms-WPBorder{
border-right:#827D5B 1px solid;
border-left:#827D5B 1px solid;
border-top-style:none;
border-bottom:#827D5B 1px solid;
}
.ms-HoverCellActive{
border:#427800 1px solid;
background-color:#8F8D6F;
}
.ms-HoverCellActiveDark{
border:solid 1px #827D5B;
background-color:#9C9976;
}
.ms-SPLink{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#427800;
}
.ms-SPLink a:link, .ms-SPLink A:visited{
color:#427800;
text-decoration:none;
}
.ms-SPButton{
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-PartSpacingVertical, .ms-PartSpacingHorizontal{
padding-top:10px;
}
.ms-WPHeader{
background-color:#918C5F;
background-image:url('partgrad.gif');
background-repeat:repeat-x;
}
.ms-PageHeaderDate{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-PageHeaderGreeting{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-rtApplyBackground{
background-color:#D4CFAD;
border:0.02cm solid #EEEBD8;
}
.ms-rtRemoveBackground{
background-color:transparent;
border:0.02cm solid #B9B280;
}
.ms-rtToolbarDefaultStyle{
font:normal 8pt Verdana,Arial,Helvetica,sans-serif;
}
.ms-subsmanageheader{
background-color:#B4AD7E;
font-family:Verdana,Arial,Helvetica,sans-serif;
text-decoration:none;
font-weight:bold;
vertical-align:top;
}
.ms-subsmanagecell{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
height:18px;
vertical-align:top;
}
.ms-ConnError{
color:#db6751;
}
.ms-storMeUsed{
background-color:#FFDE28;
}
.ms-storMeFree{
background-color:#B17500;
}
.ms-storMeEstimated{
background-color:#DEFF28;
}
.ms-underline{
vertical-align:top;
border-bottom:1px solid #DFC541;
padding-left:4;
padding-right:4;
padding-top:2;
padding-bottom:4;
}
.ms-underlineback{
vertical-align:top;
border-bottom:1px solid #DFC541;
padding-left:4;
padding-right:4;
padding-top:2;
padding-bottom:4;
background-color:#B4AD7E;
}
.ms-smallheader{
font-weight:bold;
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
}
.ms-smallsectionline{
padding-left:0;
padding-right:0;
padding-top:2;
padding-bottom:0;
border-bottom:1px solid #DFC541;
}
.ms-tabselected{
font-family:Verdana,Arial,Helvetica,sans-serif;
background-color:#6F6A1E;
border-right:#6F6A1E 2px solid;
border-left:#6F6A1E 2px solid;
border-top:#6F6A1E 2px solid;
border-bottom:#6F6A1E 2px solid;
font-weight:bold;
padding-top:3px;
padding-bottom:3px;
padding-left:10px;
padding-right:10px;
color:#DFC541;
}
.ms-tabinactive{
font-family:Verdana,Arial,Helvetica,sans-serif;
background-color:#918C5F;
border-right:#918C5F 2px solid;
border-left:#918C5F 2px solid;
border-top:#918C5F 2px solid;
border-bottom:#918C5F 2px solid;
padding-top:3px;
padding-bottom:3px;
padding-right:10px;
padding-left:10px;
color:#427800;
}
.ms-tabinactive a:link, .ms-tabinactive a:hover, .ms-tabinactive a:visited{
color:#427800;
text-decoration:none;
}
.ms-surveyVBarT{
font-size:7pt;
font-family:verdana;
text-align:center;
color:#666666;
}
.ms-surveyGVVBar{
width:9px;
background-color:#B9B280;
border-top-color:#B9B280;
border-top-style:solid;
border-top-width:0px;
border-bottom-color:#EEEBD8;
border-bottom-style:solid;
border-bottom-width:0px;
}
.ms-surveyGVVBarS{
width:20px;
}
.ms-uploadborder{
border:1px solid #78744D;
}
.ms-uploadcontrol{
background-color:#D4CFAD;
}
.ms-highlight{
background-color:#78744D;
}
.UserBackground{
background-color:#B9B280;
}
.ms-MWSSelectedInstance{
color:#000000;
text-decoration:none;
}
.ms-MWSInstantiated a:link, .ms-MWSInstantiated a:visited{
color:#427800;
text-decoration:none;
}
.ms-MWSInstantiated a:hover{
color:#DEFF28;
text-decoration:underline;
}
.ms-MWSUninstantiated a:link, .ms-MWSUninstantiated a:visited{
color:#427800;
text-decoration:none;
}
.ms-MWSUninstantiated a:hover{
color:#427800;
text-decoration:underline;
}
.ms-ToolStrip{
color:#000000;
background-color:#918C5F;
border-left:#666666 1px solid;
border-right:#666666 1px solid;
border-top:#666666 1px solid;
border-bottom:#666666 1px solid;
}